.cont {
  .chatContainer1 {
    background: $color_gray2;
    padding: 0.5em 3em 0.5em 1em;
    
    &>md-input-container{
        background-color: #FFF !important;
        margin-top: 0px;
        &>md-icon{
          cursor: pointer;
           margin-right: 1em;
        }
        &>md-icon:hover{
          color: $color_blue_darker;
        }
      }

    & > .messagesContainer {
      margin: 1em 0;
      background: $color_white;
      padding: 0.5em 1em 0 1em;
      margin-bottom: 0px;
      overflow-y: scroll;
      height: 600px;
      
      &>div{
        margin: 1em 0;
        background: $color_white;
        padding: 0.5em 1em;
        border-radius: 2px;
        box-shadow: 1px 1px 1px 1px #888888;
        min-height: 120px;
        & > .userImage {
          margin: 0 1em 0 0;
          & > .imageOrg {
            text-align: center;
            & > img {
              border-radius: 50%;
              border: 3px solid $color_blue_darker;
              max-width: 70px;
              max-height: 70px;
              width: 70px;
              height: 70px;
            }
            & > p {
              margin: 0;
              color: $color_gray_text;
              font-size: 12px;
            }
          }
          & > .imageSpo {
            text-align: center;
            & > img {
              border-radius: 50%;
              border: 3px solid $color-orange;
              max-width: 70px;
              max-height: 70px;
              width: 70px;
              height: 70px;
            }
            & > p {
              margin: 0;
              color: $color_gray_text;
            }
          }
        }
      }
    }
  }

  .chatContainer2 {
    margin-right: 2em;
    
    &>md-input-container{
        background-color: #FFF !important;
        margin-top: 0px;
        &>md-icon{
          cursor: pointer;
           margin-right: 1em;
        }
        &>md-icon:hover{
          color: $color_active;
        }
      }

    & > .messagesContainer {
      margin: 1em 0;
      background: $color_white;
      padding: 0.5em 1em 0 1em;
      margin-bottom: 0px;
      overflow-y: scroll;
      height: 600px;
      
      &>div{
        margin: 1em 0;
        background: $color_white;
        padding: 0.5em 1em;
        border-radius: 2px;
        box-shadow: 1px 1px 1px 1px #888888;
        min-height: 120px;
        & > .userImage {
          margin: 0 1em 0 0;
          & > .imageOrg {
            text-align: center;
            & > img {
              border-radius: 50%;
              border: 3px solid $color_blue_darker;
              max-width: 70px;
              max-height: 70px;
              width: 70px;
              height: 70px;
            }
            & > p {
              margin: 0;
              color: $color_gray_text;
              font-size: 12px;
            }
          }
          & > .imageSpo {
            text-align: center;
            & > img {
              border-radius: 50%;
              border: 3px solid $color-orange;
              max-width: 70px;
              max-height: 70px;
              width: 70px;
              height: 70px;
            }
            & > p {
              margin: 0;
              color: $color_gray_text;
            }
          }
        }
      }
    }
  }
}
