/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/* Colors */
$color_white: white;
$color_black: black;

$color_gray1: #ececec;
$color_gray2: #F9F9FB;
$color_gray_text: #9a9a9a;
$color_gray3: #5B5B5B;

$color_fuchsia: #e91e63;
$color_fuchsia_darker: #9c0035;

$color_green: rgb(0, 131, 141);

$color_orange: #faaf3a;
$color_orange_darker: #7d571d;

$color_blue: #29aae3;
$color_blue_darker: #3E87A4;
$color_blue_brighter: #00bcd2;
$color_blue_dialog:#2196f3;

$color_active: #f09200;
$color_active_darker: #E6A235;

$media_step1_bottom: 600px;
$media_step1_medium: 960px;
$media_step1_top: 1200px;



[layout=row] {
  flex-direction: row;
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}


a.no-style {
  text-decoration: none;
}
/**
 *  Background & Color classes
 *  
 */

.bg-white {
  background: $color_white!important;
}

.bg-black {
  background: $color_black!important;
}

.bg-green {
  background: $color_green!important;
}

.bg-active {
  background: $color_active!important;
}

.bg-active-darker {
  background: $color_active_darker!important;
}

.bg-blue-brighter {
  background: $color_blue_brighter!important;
}
/* --- */

.color-white {
  color: $color_white!important;
}

.color-black {
  color: $color_black!important;
}

.color-gray-text {
  color: $color_gray_text;
}

.color-green {
  color: $color_green!important;
}

.color-active {
  color: $color_active!important;
}

.color-active-darker {
  color: $color_active_darker!important;
}

.color-blue-brighter {
  color: $color_blue_brighter!important;
}

/**
 *  Helper classes
 *  
 */
.text-bold {
  font-weight: bold;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

button.button-light {
  border-radius: 0;
  border: none;
}

html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  a {
    text-decoration: none;
  }
}

/**
 *  Helper classes for inputs
 *  
 */

md-input-container.organizers:not(.md-input-invalid).md-input-focused label {
        color: $color_blue_brighter;
    }

md-input-container.organizers:not(.md-input-invalid).md-input-focused .md-input {
    border-color: $color_blue_brighter;
}

md-input-container.white {
  &:not(.md-input-invalid).md-input-focused label {
        color: $color_white;
    }

  &>label {
    font-weight: bold;
  }

  &>input {
    color: $color_white;
  }

  &>.md-errors-spacer .md-char-counter {
    color: $color_white;
  }
  &>textarea.md-input {
    color: $color_white;
  }
}



md-input-container.white:not(.md-input-invalid).md-input-focused .md-input {
    border-color: $color_white;
}

md-input-container.sponzors:not(.md-input-invalid).md-input-focused label {
    color: $color_active;
    color: $color_active;
}

md-input-container.sponzors:not(.md-input-invalid).md-input-focused .md-input {
    border-color: $color_active;
}

md-select.sponzors:not([disabled]):focus .md-select-value {
  border-bottom-color: $color_active;
}

md-select.organizers:not([disabled]):focus .md-select-value {
  border-bottom-color: $color_blue_brighter;
}

md-select-menu.md-default-theme md-option[selected], md-select-menu md-option.sponzors[selected] {
  color: $color_active
}

md-select-menu.md-default-theme md-option[selected], md-select-menu md-option.organizers[selected] {
  color: $color_blue_brighter
}

md-checkbox.sponzors.md-checked {
    .md-ink-ripple {
        color: $color_active;
    }

    .md-icon {
        background: $color_active;
    }
}        

md-checkbox.sponzors.md-default-theme.md-checked.md-focused .md-container:before, md-checkbox.md-checked.md-focused .md-container:before {
    background-color: rgba(240, 146, 0, 0.26);
}

md-checkbox.sponzors.md-default-theme .md-icon, md-checkbox .md-icon {
  border-color: $color_active!important;
}

md-checkbox.organizers.md-checked {
    .md-ink-ripple {
        color: $color_blue_brighter;
    }

    .md-icon {
        background: $color_blue_brighter;
    }
}

md-checkbox.organizers.md-default-theme.md-checked.md-focused .md-container:before, md-checkbox.md-checked.md-focused .md-container:before {
  background-color: rgba(0, 188, 210, 0.50);
}

md-checkbox.organizers.md-default-theme .md-icon, md-checkbox .md-icon {
  border-color: $color_blue_brighter!important;
}







/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
