.allContainer .superContainer .cont {
    .actions {
        &>.md-button {
            color: $color_blue_brighter;
            font-size: 12px;

            &>md-icon {
                color: $color_blue_brighter;
                font-size: 36px;
                width: 36px;
                height: 36px;
            }
        }
    }

    .contentContainer.organizer {
        margin: 0;

        .notifyDetailContainer {
            &>.eventContainer {
                padding: 0;
                background: $color_white;
                @media screen and (max-width: $media_step1_bottom) {

                    width: 100vw;
                }
               &>img {
                    min-width: 100%;
                    width: 100%;
                    max-height: 300px!important;
               }

                &>.imageTexts {
                    background: $color_blue_brighter;
                    margin: 0;
                    min-height: 180px;
                    position: relative;
                    padding: 0.1em 3em 0 3em;
                    top: -50px;
                    margin-left: 15%;
                    margin-right: 15%;
                    text-align: justify;

                    @media screen and (max-width: $media_step1_bottom) {
                        margin: 0;
                        padding: 1em;
                    }

                    &>md-input-container textarea {
                        min-height: 100px;
                    }

                    &>h3 {
                        font-weight: normal;
                        font-style: italic;
                    }
                    &>p {
                        color: $color_white;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    &>a {
                        color: $color_blue_darker;
                        text-decoration: underline;
                    }
                }

               &>.createEventForm {
                padding: 1em 2em;
                    &>.dateAndplace {
                        width: 100%;
                        &>md-datepicker {
                            margin: 18px;

                        }

                        &>md-input-container {
                            &>.md-button {
                                text-transform: initial;
                                color: $color_blue_brighter;

                                &>md-icon {
                                    color: $color_blue_brighter;
                                }
                            }
                        }
                    }

                    &>.location {
                        width: 100%;

                        &>md-input-container {
                            margin-right: 1em;
                        }
                    }

                    &>.eventType {
                        width: 100%;
                        margin-bottom: 2em;

                        &>md-input-container {
                            padding: 0.7em 0;
                        }

                        &>.age {
                            margin-left: 1em;
                            padding: 0.5em;
                            position: relative;

                            &>.text {
                                position: absolute;
                                top: 0;
                                left: 16px;
                                font-size: 10px;
                                color: $color_gray_text;
                            }

                            &>.text2 {
                                color: $color_gray3;
                            }
                        }
                    }

                    &>.chipContainer {
                        font-size: 14px;
                        margin-bottom: 6em;

                        md-chips .md-chips.md-focused {
                            box-shadow: 0 2px $color_blue_brighter;
                        }

                        md-chips .md-chip.md-focused {
                            background: $color_blue_brighter;
                            color: $color_white;
                        }

                        &>span {
                            color: $color_gray3
                        }

                        &>.chipSelect {
                            margin: 0 0 1em 0;

                            &>.toSelect {
                                background-color: #ffffff;
                                border-radius: 16px;
                                color: $color_black;
                                cursor: pointer;
                                height: 22px;
                                margin: 8px 8px 0 0;
                                min-width: 80px;
                                padding: 0 12px 0 12px;

                                &:hover {
                                    background-color: $color_blue_brighter;
                                    color: $color_white;
                                }
                            }
                        }
                    }
                }
            }

            &>.createEventTable {
                border-top: 1px solid $color_gray1;
                color: $color_gray3;
                background: $color_white;
                font-size: 12px;
                padding: 0.5em;
                margin: 1em 2%;
                overflow: hidden;

                @media screen and (max-width: $media_step1_bottom) {
                    margin: 0;
                }

                &>.table {

                    .tableTitle {
                        background-color: $color_blue_brighter;
                        padding: 1.5em 0;
                        text-transform: uppercase;
                        text-align: center;
                        width: 100%;
                        font-weight: bold;

                        &>a {
                            color: $color_white;
                            font-size: 16px;
                            position: relative;

                            &:nth-child(1) {
                                left: 15px;
                            }

                            &:nth-child(2) {
                             left: 24px;
                            }

                            &:nth-child(3) {
                                left: 25px;
                            }

                            &:nth-child(4) {
                                left: 0;
                            }
                        }
                    }

                    &>.tableContent {
                        background-color: $color_gray1;
                        padding: 1.5em 1.5em 1.5em 1.5em;

                        &>.columnContainer {
                            position: relative;
                            margin-bottom: 0.5em;

                            &>.toSponzorWith {
                                min-height: 260px;
                                height: 280px;
                            }

                            &>.addItem {
                                text-transform: initial;
                                color: $color_black;
                                background: $color_white;
                                width: 100%;
                                margin: 0;
                                padding: 0 0 1.5em 0;
                                visibility: hidden;

                                &>md-icon {
                                    color: $color_fuchsia;
                                }
                            }

                            &>.tablePrice {
                                background-color: $color_black;
                                font-size: 14px;
                                font-weight: bold;
                                height: 40px;
                                margin: 0.5em 0.2em;
                                opacity: 0.2;
                                text-transform: uppercase;

                                &>a {
                                    color: $color_white;
                                }
                            }

                            &>.sponzorWith {
                                visibility: hidden;

                                &>md-input-container {
                                    margin: 0.2em;
                                }
                            }


                            &>a {
                                color: $color_gray_text;
                                margin-top: 0;
                                padding: 0 2.5em 0 2.5em;
                            }

                            &>.tableTitle {
                                color: $color_blue_darker;
                            }

                            &>.border {
                                background-color: $color_blue_darker;
                                height: 3px;

                                visibility: hidden;
                                width: 100%;
                            }

                            &>a {
                                background-color: $color_white;
                            }

                            &>.tableTitle {
                                color: $color_white;
                            }

                            &>.sponzorWith {
                                visibility: visible;
                            }

                            &>.addItem {
                                visibility: visible;
                            }

                            &>.tablePrice {
                                opacity: 1;
                            }

                            &>.border {
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &>.saveButton {
                width: 300px;
                background: $color_fuchsia;
                color: $color_white;
                margin: 2em auto 3em auto;
            }
        }
    }
}


.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background-color: $color_blue_brighter;
}

.md-datepicker-input-container.md-datepicker-focused {
    border-bottom-color: $color_blue_brighter;
}

.md-datepicker-open .md-datepicker-calendar-icon {
    color: $color_blue_brighter;
    fill: $color_blue_brighter
}
