.superContainer {
    &>.cont {
        &>.contentContainer {
            &>.filterOrganizer {
                &>.viewOptionsHistorical {
                    margin-right: 1.8em;
                    &>.md-button {
                        margin-right: 0;
                        border-radius: 0;
                        &>md-icon {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }



            &>.texts {
                 margin-left:1em;
                 margin-right: 1em;
                &>h3 {
                    font-size:12px;                   
                }

                &>p {
                    color:$color_gray_text;
                    font-size:12px;
                }
            }

            &>.eventsContainer {
                background-color: $color_white;

                &>.historicalTexts {
                    padding: 0.5em 1em;
                    margin-bottom: 1em;

                    &>h4 {
                        color: $color_blue_brighter;
                        text-transform: uppercase;
                        margin: 0.3em 0 0.3em 0;
                    }

                    &>p {
                        color: $color_gray_text;
                        margin: 0;
                        font-size: 12px;
                    }
                }

                &>div {
                    &>.month {
                        padding-left: 1em;
                        margin: 0;
                        color: $color_gray_text;

                        &>p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
