.allContainer .superContainer .cont .testimonialsContainer {        
    margin: 0 1em 2em 1em;
    background-color: $color_white;
    padding: 2em 3em 3em 3em;
    min-height: 100vh;
    text-align: justify;
    @media screen and (max-width: $media_step1_bottom) {
        margin: 0;
        padding: 2em;
    }

    &>.backButton {
        &>a > md-icon {
            font-size: 3em;
        }
    }

    &>.sponzormeTeam {
        &>md-list {
            &>md-list-item {
                &>img {
                    border-radius: 50%;
                    max-width: 120px;
                    max-height: 120px;
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}