<div layout-fill class="allContainer">
  <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>
  <md-content class="superContainer" layout="row">
    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenavOrg.html'" ng-controller="SidenavController"></div>
    <div class="cont" flex>
      <div class="menuItems menuItemsOrganizer md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <div class="menuItemContainer" layout="row">
        </div>
        <organizers-navbar></organizers-navbar>
      </div>
      <responsive-nav></responsive-nav>
      <!-- Content starts -->
      <div class="contentContainer" flex>
        <div class="notifyDetailContainer organizersTasks" layout="column">
          <a href="#/organizers/tasks/create" class="addTask" layout="row" layout-align="start center">
            <md-button class="md-fab">
              <md-icon>add</md-icon>
            </md-button>
            <p translate>tasks.add</p>
          </a>
          <div class="eventTitles" layout="row" hide-xs>
            <div flex="60" layout="row" layout-align="center center">
              <p>{{'tasks.event'|translate}} / {{'tasks.taskTitle'|translate}}</p>
            </div>
            <div flex="30" layout="row" layout-align="center center" >
              <p translate>tasks.status</p>
            </div>
          </div>
          <div class="eventItem tasks" layout="column" layout-gt-xs="row" ng-repeat="item in otc.tasks" ng-if="item.task.type == 0">
            <a class="eventInfo" href="#/organizers/task/{{$index}}" layout="row" flex="40">
              <div class="taskIcon" flex="5" flex-xs="10" layout="row" layout-align="start center">
                <md-icon>timer</md-icon>
              </div>
              <div class="eventTitle" flex="60" flex-xs="60" layout="column" layout-align="center start">
                <div>
                  <span class="taskSubtitle" translate>{{'tasks.event'|translate}}:</span>
                  <span>{{item.event.title}}</span>
                </div>
                <div>
                  <span class="taskSubtitle" translate>{{'tasks.task'|translate}}:</span>
                  <span>{{item.task.title}}</span>
                </div>
              </div>
              <p class="eventStatus" flex="30" layout="row" layout-align="center center">
                {{'tasks.status'+item.status|translate}}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </md-content>
  <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>
