<md-content class="footerContainer">
  <div layout-gt-sm="row" layout="column" layout-align="space-around center">
    <div class="lang-buttons" layout="row">
      <button class="lang-button button-light" md-ink-ripple>ES</button>
      <button class="lang-button-active button-light" md-ink-ripple>EN</button>
      <button class="lang-button button-light" md-ink-ripple>PT</button>
    </div>
    <div class="footer-links" layout="column" layout-gt-xs="row" layout-align="center center">          
        <a href="#/about" class="no-style color-black" md-ink-ripple>_Acerca_</a>
        <a href="#/testimonials" class="no-style color-black" md-ink-ripple>_Testimonios_</a>          
        <a href="#/support" class="no-style color-black" md-ink-ripple>_Ayuda_</a>          
        <a href="#/privacy" class="no-style color-black" md-ink-ripple>_Políticas y condiciones_</a>        
    </div>
  </div>
</md-content>    

