.row{
	max-width: 100%;
	margin: 0;
}

.footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: #20222D;
color:white;
padding: 5px;
padding-top:10px;
font-size: 12px;
height: 38px;
}

.footer a{
color:white;
text-decoration: none;
}

.footer a:hover{

	color:#53B4C4;
}

.footer #newlog {
  font-family: Pacifico,cursive;
  font-size: 10px;
  margin-top: 4px;
  color: #fff;
  width: 60px;
  display: inline-block;
  margin-left: 45px;
}