<div class="dialog-container info">
  <div class="dialog-top top-info"><i class="material-icons md-48 md-light">event_note</i><div>
  <div class="content text-center">
    <h1>{{'chooseYourCalendar'|translate}}</h1>
    <br/>
    <addtocalendar
		start-date="{{starts}}"
		end-date="{{ends}}"
		title="{{currentSponzorship.event.title}}"
		location="{{currentSponzorship.event.location}}"
		class-name="btn btn-sm btn-default dropdown-toggle"
		description="{{currentSponzorship.event.description}}"
		btn-text="Choose Calendar">
	</addtocalendar>
  </div>
  <div class="botonera">
    <a href="" ng-click="closeThisDialog()">Close</a>
  </div>
</div>