<div>
  <div ><i class="material-icons md-48 md-light">info</i>
    <div>
      <div class="content">
        <h2>{{'Connecting to eventbrite' | translate}}
          <i ng-if="!loadingGetToken && conectionDone" class="fa fa-check"></i>
          <div ng-if="!loadingGetToken && !conectionDone"><i class="fa fa-times"></i>
            <a href="https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=UIIEUBJUVOI5JDEZND">{{'Retry' | translate}}</a></div>
        </h2>
        <rd-loading ng-if="loadingGetToken"></rd-loading>
        <h2 ng-if="!loadingGetToken && conectionDone">{{'Getting your events' | translate}}
          <i ng-if="!loadingGetEvents && evenbriteEvents.length>0" class="fa fa-check"></i>
          <div ng-if="!loadingGetEvents && evenbriteEvents.length<1"><i class="fa fa-times"></i></div>
        </h2>
        <rd-loading ng-if="loadingGetEvents"></rd-loading>
        <h2>{{'Choose event to import' | translate}}</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th class="text-center">{{ 'neweventtitle' | translate }}</th>
              <th class="text-center">{{ 'neweventstarts' | translate }}</th>
              <th class="text-center">{{ 'ends' | translate }}</th>
            </thead>
            <tbody>
              <tr data-ng-repeat="e in evenbriteEvents" class="row-hover" ng-click="prefilEventForm(e.resource_uri)">
                <td class="text-center">{{ e.name.text }}</td>
                <td class="text-center">{{ e.start.local | date}}</td>
                <td class="text-center">{{ e.end.local | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
