<div class="dialog-container info">
  <div class="dialog-top top-info"><i class="material-icons md-48 md-light">info</i><div>
  <div class="content">
    <h1>Information</h1>
    <p><strong>Sponzorship {{kind}}: ${{paymentValue|number:2}}</p>
    <p><strong>Fees: ${{fee|number:2}}</p>
    <p><strong>Total: ${{paymentTotal|number:2}}</p>
  </div>
  <div class="botonera">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <INPUT TYPE="hidden" name="charset" value="utf-8">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="{{PAYPALEMAIL}}">
      <input type="hidden" name="item_name"
      value="Sponzorship on event {{sponzorship.event_id}} in {{sponzorship.kind}}">
      <input type="hidden" name="item_number" value="{{sponzorship.id}}">
      <input type="hidden" name="amount" value="1">
      <input type="hidden" name="tax" value="0">
      <input type="hidden" name="quantity" value="1">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="amount" value="{{paymentTotal}}">
      <input type="hidden" name="cpp_header_image"  value="http://app.sponzor.me/images/750x90version2.png">

      <input type="hidden" name="image_url" value="http://app.sponzor.me/images/150x50.png">
      <input type="hidden" name="cpp_logo_image" value="http://app.sponzor.me/images/190x60.png">

      <input type="hidden" name="cpp_cart_border_color" value="00838d">
      <input type="hidden" name="notify_url" value="{{PAYPALIPNRETURNURL}}">
      <INPUT TYPE="hidden" NAME="return" value="{{PAYPALCOMPLETERETURNURL}}">
      <input type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
alt="PayPal - The safer, easier way to pay online">
	  </form>
  </div>
</div>
