<div class="dialog-container info">
  <div class="dialog-top top-info"><i class="material-icons md-48 md-light">info</i><div>
  <div class="content">
    <strong>{{'causeForm'|translate}}: </strong>{{cause}}<br/>
      <span ng-if="status == 0"><strong>Status: </strong>{{ 'eventSponzorState0' | translate }}</span>
      <span ng-if="status == 1"><strong>Status: </strong>{{ 'eventSponzorState1' | translate }}</span>
    </p>
  </div>

  <div class="botonera">
    <a href="" ng-click="closeThisDialog()">Ok</a>
  </div>
</div>
