<div class="user-dialog-container info">
  <div class="user-dialog-container top-info"><i class="material-icons md-48 md-light">info</i><div>
  <div class="content">
    <h1>Information</h1>
    <img width="100px" data-ng-src="{{user.user.image}}" style="border-radius:50%;" >
    <p>{{'name'|translate}}: {{user.user.name}}</p>
    <p>{{'email'|translate}}: {{user.user.email}}</p>
    <p>{{'#sponzorships'|translate}}: {{user.user.sponzorships_like_organizer.length}}</p>
    <div class="rating" ng-if="user.rating">
      <p>{{'rating'|translate}}: {{user.rating|number:2}}/{{5|number:2}}</p>
    </div>
    <div class="rating" ng-if="!user.rating">
      <p>{{'noRatesYet'|translate}}</p>
    </div>
    <span ng-if="!user.rating" class="stars2">
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
    </span>
    <span ng-if="user.rating == 1" class="stars2">
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
    </span>
    <span ng-if="user.rating == 2" class="stars2">
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
    </span>
    <span ng-if="user.rating == 3" class="stars2">
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_border</i>
      <i class="material-icons orange600 md-12">star_border</i>
    </span>
    <span ng-if="user.rating == 4" class="stars2">
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_border</i>
    </span>
    <span ng-if="user.rating >= 5" class="stars2">
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
      <i class="material-icons orange600 md-12">star_rate</i>
    </span>
  </div>
  <div class="botonera">
    <a href="" ng-click="closeThisDialog()">Continue</a>
  </div>
</div>
