<div id="page-wrapper" ng-class="{'active': toggle}" class="active">
  <div ng-include="menuprincipal"></div>
  <div id="content-wrapper">
    <div class="page-content">
      <div class="row header" ng-include src="'views/users/dashboard/header.html'"></div>
      <!-- -->
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-tasks"></i> {{ 'events' | translate }}
              <a href="#/add/event" class="pull-right">{{ 'add_event' | translate }}</a>
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <th class="text-center">{{ 'neweventtitle' | translate }}</th>
                    <th class="text-center">{{ 'neweventlocation' | translate }}</th>
                    <th class="text-center">{{ 'neweventstarts' | translate }}</th>
                    <th class="text-center">{{ 'eventprivacy' | translate }}</th>
                    <th class="text-center"> {{ 'actionssponzor' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="e in eventos" data-ng-class="{success : event.current === e.id}" ng-show="!loadingevents">
                      <td class="text-center">{{ e.title }}</td>
                      <td class="text-center" style="width:20%">{{ e.location }}</td>
                      <td class="text-center">{{ e.starts }}</td>
                      <td class="text-center" ng-if="e.privacy==0">{{ 'public'| translate }}</td>
                      <td class="text-center" ng-if="e.privacy==1">{{ 'private'| translate }}</td>
                      <td class="text-center">
                        <a href="" ng-click="imageEvent(e.image)"><i class="fa fa-file-image-o"></i></a>
                        <a href="#/event/{{ e.id }}" target="_blank"><i class="fa fa-arrows-alt"></i></a>
                        <!--a href="form/event/{{ e.id }}" target="_blank"><i class="fa fa-code"></i></a-->
                        <a href="" ng-click="formEditEvent(e.id)"><i class="fa fa-edit"></i></a>
                        <a href="" ng-click="removeEvent(e.id)"><i class="fa fa-trash-o"></i></a>
                        <a href="" data-ng-click="event.current = e.id"><i class="fa fa-trophy" ng-show="event.current === e.id"></i></a>
                        <a href="" data-ng-click="event.current = e.id"><i class="fa fa-trophy text-danger" ng-show="event.current != e.id"></i></a>
                        <!--a href="" ng-click="codeWidget(e.id)"><i class="fa fa-rocket"></i></i></a-->

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br/>
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-trophy"></i> {{ 'peak' | translate }}
              <div class="clearfix"></div>
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">{{ 'kind' | translate }}</th>
                      <th class="text-center">{{ 'quantity' | translate }}</th>
                      <th class="text-center">${{ 'usd' | translate }}</th>
                      <th class="text-center">{{ 'actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="loadingPerks && !noPerksMessage">
                      <td colspan="3">
                        <span us-spinner="{radius:15, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span>
                      </td>
                    </tr>
                    <tr ng-show="!loadingPerks && noPerksMessage">
                      <td colspan="3" class="text-center">
                        <h2 class="text-center">{{'noPerksMessage'| translate}}</h2>
                      </td>
                    </tr>
                    <tr ng-show="!loadingPerks && !noPerksMessage" ng-repeat="p in peaks" data-ng-class="{success : currentPerkId === p.id}">
                      <td class="text-center">{{ p.kind}}</td>
                      <td class="text-center">{{ p.total_quantity }}</td>
                      <td class="text-center">{{ p.usd }}</td>
                      <td class="text-center">
                        <a href="" ng-click="getPerk(p.id)"><i class="fa fa-edit" ng-show="currentPerkId == p.id"></i></a>
                        <a href="" ng-click="getPerk(p.id)"><i class="fa fa-edit text-danger" ng-show="currentPerkId != p.id"></i></a>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br/>
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-trophy"></i> {{ 'Tasks' | translate }}
              <a href="" ng-click="showTaskForm(currentPerkId,event.current)" class="pull-right" ng-if="!loadingPerks && !noPerksMessage">{{ 'add_task' | translate }}</a>
              <div class="clearfix"></div>
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">{{ 'title' | translate }}</th>
                      <th class="text-center">{{ 'description' | translate }}</th>
                      <th class="text-center">{{ 'actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="loadingtasks && !noTasksMessage">
                      <td colspan="3" rowspan="5" us-spinner="{display:block, radius:15, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true">
                         <span ></span>
                      </td>
                    </tr>
                    <tr ng-show="!loadingtasks && noTasksMessage">
                      <td colspan="3" class="text-center">
                        <h2 class="text-center">{{'noTasksMessage'| translate}}</h2>
                      </td>
                    </tr>
                    <tr ng-show="!loadingtasks && !noTasksMessage" ng-repeat="t in currentPerk.Tasks">
                      <td class="text-center">{{ t.title}}</td>
                      <td class="text-center">{{ t.description }}</td>
                      <td class="text-center"><a href="" ng-click="removeTask(t.id)"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="formNewTask">
    <div class="text-center">
    <h2>{{'toCreateNewTask' | translate }}</h2><br/>
    <form class="form-horizontal" name="formTask" role="form">
    <!--form field-->
      <div class="form-group" id="name">
        <label for="label" class="col-sm-5 control-label">
          {{'todoTitle' | translate }}
        </label>
        <div class="col-sm-7">
          <input  type="text" data-ng-model="todo.title" name="title" class="form-control" />
        </div>
      </div>
      <!--form field-->
      <div class="form-group" id="description">
        <label for="label" class="col-sm-5 control-label">
          {{'todoDescription' | translate }}
        </label>
        <div class="col-sm-7">
          <textarea rows="5" data-ng-model="todo.description" name="message" class="form-control"></textarea>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr/>
      <!--form field-->
      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-4 ">
          <button data-ng-click="addTask()" class="btn btn-info">{{'submitbutton' | translate}}</button>
        </div>
      </div>
    </form>
    </div>
  </script>
  <script type="text/ng-template" id="editForm">
    <h2 class="text-center">{{ 'completeInfoNewEvent' | translate }}</h2>
    <form class="form-horizontal" role="form" name="eventEditForm">
      <!--form field-->
      <div class="form-group" id="title">
        <label for="label" class="col-sm-4 control-label">
          {{ 'neweventtitle' | translate }}
        </label>
        <div class="col-sm-7">
          <input type="text" ng-model="eventData.title" placeholder="{{trans('dashboard.neweventtitledescription')}}" name="title" class="form-control" required/>
        </div>
        <br/>
        <br/>
      </div>
      <!--form field-->
      <div class="form-group" id="location">
        <label for="label" class="col-sm-4 control-label">
          {{ 'neweventlocation' | translate }}
        </label>
        <div class="col-sm-7">
          <input type="text" placeholder="{{trans('dashboard.neweventlocationdescription')}}" name="location" g-places-autocomplete class="form-control" ng-model="eventData.location" required/>
        </div>
      </div>

      <!--form field-->
      <div class="form-group" id="description">
        <label for="label" class="col-sm-4 control-label">
          {{ 'neweventdescription' | translate }}
        </label>
        <div class="col-sm-7">
          <textarea rows="5" ng-model="eventData.description" placeholder="{{trans('dashboard.neweventdescriptiondescription')}}" name="description" class="form-control" required></textarea>
        </div>
      </div>
      <!--form field-->
      <div class="form-group" id="starts">
        <label for="label" class="col-sm-4 control-label">
          {{ 'neweventstarts' | translate }}
        </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" ng-model="eventData.starts" placeholder="{{'datePlaceholder'|translate}}" required/>
        </div>
      </div>
      <div class="form-group" id="ends">
        <label for="label" class="col-sm-4 control-label">
          {{ 'neweventends' | translate }}
        </label>
        <div class="col-sm-7">
          <input type="text" class="form-control" ng-model="eventData.ends" placeholder="{{'datePlaceholder'|translate}}" required/>
          <input type="hidden" data-ng-model="eventData.organizer" name="organizer" />
        </div>
      </div>
      <!--form field-->
      <div class="form-group" id="public">
        <div class="col-sm-4 control-label">
          <input id="privacy0" type="radio" ng-model="eventData.privacy" name="privacy" value="0" />
        </div>
        <label for="privacy0" class="col-sm-7">
          <strong>{{ 'privacyoption0' | translate }} : </strong>

          {{ 'privacydescription0' | translate }} </label>

        <div class="col-sm-4 control-label">
          <input id="privacy1" type="radio" ng-model="eventData.privacy" name="privacy" value="1" />
        </div>

        <label for="privacy1" class="col-sm-7">
          <strong>{{ 'privacyoption1' | translate }} : </strong>

          {{ 'privacydescription1' | translate }}</label>
      </div>
      <!--form field-->
      <div class="form-group" id="type">
        <label for="label" class="col-sm-4 control-label">
          {{ 'neweventtype' | translate }}
        </label>
        <div class="col-sm-7">
          <select ng-model="eventData.type" name="type" class="form-control">
            <option data-ng-repeat="t in typefilter" data-ng-value="t.id" ng-if="t.id!=eventData.type">
              {{t.name}}
            </option>
            <option data-ng-repeat="t in typefilter" data-ng-value="t.id" ng-if="t.id==eventData.type" selected="selected">
              {{t.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group" id="category">
        <label for="label" class="col-sm-4 control-label">
          {{ 'neweventcategory' | translate }}
        </label>
        <div class="col-sm-7">
          <select ng-model="eventData.category" name="type" class="form-control">
            <option data-ng-repeat="c in categoriasfilter" data-ng-value="c.id" ng-if="c.id!=eventData.category && c.id!=''">
              {{c.title}}
            </option>
            <option data-ng-repeat="c in categoriasfilter" data-ng-value="c.id" ng-if="c.id==eventData.category" selected="selected">
              {{c.title}}
            </option>
          </select>
        </div>
      </div>
      <hr/>
      <!--form field-->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th class="text-center">
              {{ 'typesponzor' | translate }}
            </th>
            <th class="text-center">
              {{ 'quantitysponzor' | translate }}
            </th>
            <th class="text-center">
              {{ 'pricesponzor' | translate }}
            </th>
            <th class="text-center">
              {{ 'actionssponzor' | translate }}
            </th>
          </thead>
          <tr ng-repeat="s in eventData.perks" data-ng-show="eventData.perks.length">
            <td class="text-center">
              <input type="text" class="form-control" placeholder="" ng-model="s.kind" />
            </td>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="" ng-model="s.total_quantity" />
            </td>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="" ng-model="s.usd" />
              <input type="hidden" class="form-control" placeholder="" ng-model="s.id" ng-if="s.id" />
              <input type="hidden" class="form-control" placeholder="" ng-model="s.id" ng-init="s.id=-1" ng-if="!s.id" />
            </td>
            <td class="text-center" ng-if="s.id==-1">
              <a href="" ng-click="removeEditPerk($index)"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-block btn-warning" ng-click="addEditPerk()"> + Add</button>
      </div>
      <div class="clearfix"></div>
      <hr/>
      <!--form field-->
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <button class="btn btn-block btn-primary" ng-click="eventEditForm.$valid && doEditEvent(eventData.id) && closeThisDialog()">{{ 'submitbutton' | translate }}</button>
        </div>
      </div>
    </form>
  </script>
  <script type="text/ng-template" id="successEditingEvent">
    <div class="dialog-container">
      <img class="image-100 image-center" src="images/success.jpg" width="100px" />
      <p>{{ 'eventEditedSuccesfully' | translate }}</p>
      <hr/>
    </div>
  </script>
  <script type="text/ng-template" id="successCreatingTask">
    <div class="dialog-container">
      <img class="image-100 image-center" src="images/success.jpg" width="100px" />
      <p>{{ 'taskCreatedSuccesfuly' | translate }}</p>
      <hr/>
    </div>
  </script>
  <script type="text/ng-template" id="successDeletingEvent">
    <div class="dialog-container">
      <img class="image-100 image-center" src="images/success.jpg" width="100px" />
      <p>{{ 'eventDeleteSuccesfully' | translate }}</p>
      <hr/>
    </div>
  </script>
  <script type="text/ng-template" id="errorDeletingEvent">
    <div class="dialog-container">
      <img class="image-100 image-center" src="images/warning.png" width="100px" />
      <p>{{ 'errorDeletingEvent' | translate }}</p>
      <hr/>
    </div>
  </script>
  <script type="text/ng-template" id="errorDeletingTask">
    <div class="dialog-container">
      <img class="image-100 image-center" src="images/warning.png" width="100px" />
      <p>{{ 'errorDeletingTask' | translate }}</p>
      <hr/>
    </div>
  </script>
  <script type="text/ng-template" id="generalImage.html">
    <div class="text-center">
      <img src="{{currentImage}}" width="100%" />
    </div>
    <div class="ngdialog-buttons text-center">
      <button class="btn btn-danger" ng-click="closeThisDialog()"><i class="fa fa-times"></i> {{'Close' | translate}}</button>
    </div>
  </script>
