<div id="page-wrapper" ng-class="{'active': toggle}" ng-controller="UsersEventsController" class="active">
    <div ng-include="menuprincipal"></div>
      <div id="content-wrapper">
        <div class="page-content">
          <div class="row header">
            <div class="col-xs-12">
              <div class="user pull-right">
        
                <div class="item dropdown" dropdown="" is-open="status.isopen">
                  <input type="hidden" ng-model="event.organizer" class="ng-pristine ng-untouched ng-valid">  
                  <a href="" class="dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                    <input type="hidden" data-ng-init="viewUserInfoheader()">
                    <img data-ng-src="http://www.sponzor.me//images/photo.png" style="border-radius:50%;" src="http://www.sponzor.me//images/photo.png">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">luisj135@gmail.com</li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="#/settings">{{ 'settings' | translate }}</a>
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="http://www.sponzor.me/logout">{{ 'logout' | translate }}</a>
                    </li>
                  </ul>
                </div>
                <div class="item dropdown" dropdown="" is-open="status.isopens">
                  <a href="" class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <section class="numalert ng-binding ng-hide" ng-show="viewitem">0</section>
                    <i class="fa fa-bell-o"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">{{ 'notification' | translate }}</li>
                    <li class="divider"></li>
                    <section ng-show="!viewitem">Sin Notificaciones</section>
                    <ul class="notifications_list">
                      <!-- ngRepeat: alertnot in alertsnot -->
                    </ul>
                  </ul>
                </div>
              </div>
              <div class="meta">
                <div class="page" id="step2">{{ 'dashboard' | translate }}</div>
                <div class="breadcrumb-links">{{ 'home' | translate }} / {{ 'dashboard' | translate }}</div>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-plus"></i>{{ 'addevent' | translate }}
              <div class="clearfix"></div>
            </div>
            <form class="form-horizontal" role="form">
            <!--form field-->
              <div class="form-group" id="title">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'neweventtitle' | translate }}
                </label>
                <div class="col-sm-7">
                  <input  type="text" ng-model="titleevent" placeholder="{{trans('dashboard.neweventtitledescription')}}" name="title" class="form-control" />
                </div><br/><br/>
              </div>
             <!--form field-->
              <div class="form-group" id="location">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'neweventlocation' | translate }}
                </label>
                <div class="col-sm-7">
                  <input  type="text" placeholder="{{trans('dashboard.neweventlocationdescription')}}" name="location" g-places-autocomplete class="form-control" ng-model="locationevent"/>
                </div>
              </div>
              <!--form field-->
              <div class="form-group" id="description">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'neweventdescription' | translate }}
                </label>
                <div class="col-sm-7">
                  <textarea rows="5" ng-model="descriptionevent" placeholder="{{trans('dashboard.neweventdescriptiondescription')}}" name="description" class="form-control"></textarea>
                </div>
              </div>
              <!--form field-->
              <div class="form-group" id="starts">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'neweventstarts' | translate }}
                </label>
                <div class="col-sm-7">
                  <div class="dropdown">
                      <a class="dropdown-toggle my-toggle-ini" id="dLabelini"  role="button" data-toggle="dropdown" data-target="#" href="">
                          <div class="input-group">
                            <p class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtini" is-open="opened" min-date="minDate" max-date="dtfinal" datepicker-options="dateOptions" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>                       
                          </div>
                      </a>
                  </div>                
                </div>
              </div>
              <div class="form-group" id="ends">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'neweventends' | translate }}
                </label>
                <div class="col-sm-7">
                  <div class="dropdown">
                      <a class="dropdown-toggle my-toggle-final" id="dLabelfinal"  role="button" data-toggle="dropdown" data-target="#" href="">
                          <div class="input-group">
                            <p class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dtfinal" is-open="openedfinal" min-date="dtini" datepicker-options="dateOptions" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openfinal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>                       
                          </div>
                      </a>
                  </div>    
                  <input type="hidden" data-ng-model="newevent.organizer" name="organizer" ng-init="newevent.organizer = 42"/>
                </div>
              </div>
              <hr/>
              <!--form field-->
              <div class="form-group" id="public">
                <div class="col-sm-4 control-label">
                    <input id="privacy0"  type="radio" ng-model="privacyevent" name="privacy" value="0" /> 
                </div>  
                    <label for="privacy0" class="col-sm-7">
                      <strong>{{ 'privacyoption0' | translate }} :  </strong>                   
                   
                    {{ 'privacydescription0' | translate }} </label>

                <div class="col-sm-4 control-label">
                    <input id="privacy1" type="radio" ng-model="privacyevent" name="privacy" value="1" />   
                </div>

                  <label for="privacy1" class="col-sm-7">
                      <strong>{{ 'privacyoption1' | translate }} :  </strong>                   
                    
                    {{ 'privacydescription1' | translate }}</label>
              </div>
              <!--form field-->
              <div class="form-group" id="type">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'neweventtype' | translate }}
                </label>
                <div class="col-sm-7">
                  <select ng-model="typeevent" name="type" class="form-control">
                    <option value="">{{ 'choosetype' | translate }}</option>
                    <option data-ng-repeat="t in type.list" data-ng-value="t.id">
                      {{t.name}}
                    </option>                
                  </select>
                </div>
              </div>

              <div class="form-group" id="category">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'neweventcategory' | translate }}
                </label>
                <div class="col-sm-7">
                  <select ng-model="categoryevent" name="type" class="form-control">
                    <option value="">{{ 'choosetype' | translate }}</option>
                    <option data-ng-repeat="c in categorias.list" data-ng-value="c.id">
                      {{c.title}}
                    </option>                
                  </select>
                </div>
              </div>
              <!-- Imagen -->
              <hr/>
              <div class="form-group" id="image">
                  <div class="col-sm-12 ">
                    <label for="label" class="col-sm-4 control-label">
                      {{ 'file' | translate }}
                    </label>
                    <input class="col-sm-6 " id="imageInput" type="file" ng-model="temp.image" nv-file-select uploader="uploader"/><br/>
                  <div>                
              </div>
              <div class="clearfix"></div>
              <!-- End Imagen -->
              <hr/>
              <!--form field-->            
              <div class="table-responsive">              
                <table class="table table-striped">
                  <thead>
                    <th class="text-center">
                      {{ 'typesponzor' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'quantitysponzor' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'pricesponzor' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'actionssponzor' | translate }}
                    </th>              
                  </thead>
                  <tr ng-repeat="s in sponzors" data-ng-show="sponzors.length">
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="s.kind" />
                    </td>   
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="s.quantity" />
                    </td>
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="s.usd" />
                    </td>
                    <td class="text-center">
                      <a href="" ng-click="removeSponzor($index)"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-3">
              <button class="btn btn-block btn-warning" ng-click="addsponzor()"> + Add</button>
              </div>
              <div class="clearfix"></div>
              <hr/>
              <!--form field-->
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                  <button data-ng-click="newEvent()" class="btn btn-block btn-primary">{{ 'submitbutton' | translate }} <i class="fa fa-play-circle-o"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
        </div>
        <div class="col-lg-6">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-tasks"></i> {{ 'events' | translate }}
              <a href="#/events" class="pull-right">{{ 'manage' | translate }}</a>
            </div>
            <div class="widget-body large no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                  <th class="text-center">{{ 'neweventtitle' | translate }}</th>
                  <th class="text-center">{{ 'neweventlocation' | translate }}</th>
                  <th class="text-center">{{ 'neweventstarts' | translate }}</th>
                  <th class="text-center">{{ 'neweventends' | translate }}</th>
                  <th class="text-center">{{ 'eventtype' | translate }}</th>
                  <th class="text-center">{{ 'eventprivacy' | translate }}</th>
                  <th class="text-center">{{ 'eventImage' | translate }}</th>
                  <th class="text-center"> {{ 'actionssponzor' | translate }}</th>
                </thead>
                  <tbody>
                    <tr data-ng-repeat="e in eventos.list" data-ng-class="{success : event.current === e.id}">
                      <td class="text-center">{{ e.title }}</td>
                      <td class="text-center" style="width:20%">{{ e.location }}</td>
                      <td class="text-center">{{ e.starts }}</td>
                      <td class="text-center">{{ e.ends }}</td>
                      <td class="text-center">{{ e.type }}</td>
                      <td class="text-center">{{ e.privacy }}</td>
                      <td class="text-center"><a href="" ng-click="imageEvent(e.image)"><i class="fa fa-file-image-o"></i></a></td>
                      <td class="text-center">
                        <a href="event/{{ e.id }}" target="_blank"><i class="fa fa-arrows-alt"></i></a> 
                        <a href="form/event/{{ e.id }}" target="_blank"><i class="fa fa-code"></i></a> 
                        <a href="" ng-click="editEvent(e.id)"><i class="fa fa-edit"></i></a> 
                        <a href="" ng-click="removeEvent(e.id)"><i class="fa fa-trash-o"></i></a> 
                        <a href="" data-ng-click="event.current = e.id"><i class="fa fa-trophy" ng-show="event.current === e.id"></i></a> 
                        <a href="" data-ng-click="event.current = e.id"><i class="fa fa-trophy text-danger" ng-show="event.current != e.id"></i></a>
                        <a href="" ng-click="codeWidget(e.id)"><i class="fa fa-rocket"></i></i></a>  
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br/>
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-trophy"></i> {{ 'peak' | translate }} {{ peaks }}
              <div class="clearfix"></div>
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">              
                <!-- <table class="table table-striped table-center"  ng-controller="peaksController"> -->
                <table class="table table-striped table-center">
                  <thead>
                    <tr>
                      <th class="text-center">{{ 'kind' | translate }}</th>
                      <th class="text-center">{{ 'quantity' | translate }}</th>
                      <th class="text-center">${{ 'usd' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="loadingpeaks"><td colspan="3"><rd-loading ng-show="loadingpeaks"></rd-loading></td></tr>                  
                    <tr ng-show="!loadingpeaks" data-ng-repeat="p in peaks">
                      <td class="text-center">{{ p.kind }}</td>
                      <td class="text-center">{{ p.quantity }}</td>
                      <td class="text-center">{{ p.usd }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
          <div class="widget" ng-show="developer">
            <div class="widget-header">
              <i class="fa fa-trophy"></i> {{ 'Developer Event type' | translate }}
              <div class="clearfix"></div>
            </div>
            <div class="table-responsive">              
                <table class="table table-striped">
                  <thead>
                    <th class="text-center">
                      {{ 'id' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'name' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'description' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'lang' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'actionssponzor' | translate }}
                    </th>              
                  </thead>
                  <tr ng-repeat="c in type.list">
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="c.id" />
                    </td>   
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="c.name" />
                    </td>
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="c.description" />
                    </td>
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="c.lang" />
                    </td>
                    <td class="text-center">
                      <a href="" ng-click="updateeventtype(c.id, $index, c.name, c.description, c.lang)"><i class="fa fa-refresh"></i></a>
                      <a href="" ng-click="removeeventtype($index)"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
            <div class="widget-body medium no-padding">
              <div class="form-group" id="type" ng-show="developer">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'eventtypestring' | translate }}
                </label>
                <div class="col-sm-7">
                    <input type="text" placeholder="nombre" class="form-control ng-pristine ng-untouched" ng-model="nameevettype" style="margin-bottom:15px;">
                    <input type="text" placeholder="descripcion" class="form-control ng-pristine ng-untouched" ng-model="descriptionevventtype">
                    <section style="margin:10px;">{{msgevent}}</section>
                    <button ng-click="savetype()" class="btn btn-block btn-primary ng-binding">Enviar</button>
                </div>
                <script type="text/ng-template" id="templateidsevent">
                    <p>{{error_log}}</p>
                </script>
              </div>
            </div>
          </div>
        </div>
      <div class="col-lg-12">
          <div class="widget" ng-show="developer">
            <div class="widget-header">
              <i class="fa fa-trophy"></i> {{ 'Developer Perks' | translate }}
              <div class="clearfix"></div>
            </div>
            <div class="table-responsive">              
                <table class="table table-striped">
                  <thead>
                    <th class="text-center">
                      {{ 'id' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'Event' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'Kind' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'Quantity' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'usd' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'actionssponzor' | translate }}
                    </th>              
                  </thead>
                  <tr ng-repeat="p in perks.list">
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="p.id" />
                    </td>   
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="p.name" />
                    </td>
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="p.description" />
                    </td>
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="p.lang" />
                    </td>
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="p.lang" />
                    </td>
                    <td class="text-center">
                      <a href="" ng-click="updateeventperks(p.id, $index, p.name, p.description, p.lang)"><i class="fa fa-refresh"></i></a>
                      <a href="" ng-click="removeeventperks($index)"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
            <div class="widget-body medium no-padding">
              <div class="form-group" id="type" ng-show="developer">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'Save_perks' | translate }}
                </label>
                <div class="col-sm-7">
                    <input type="text" placeholder="Event" class="form-control ng-pristine ng-untouched" ng-model="perksevents" style="margin-bottom:15px;">
                    <input type="text" placeholder="Kind" class="form-control ng-pristine ng-untouched" ng-model="perkskind" style="margin-bottom:15px;">
                    <input type="text" placeholder="Quantity" class="form-control ng-pristine ng-untouched" ng-model="perksquantity" style="margin-bottom:15px;">
                    <input type="text" placeholder="USD" class="form-control ng-pristine ng-untouched" ng-model="perksusd">
                    <section style="margin:10px;">{{msgevent}}</section>
                    <button ng-click="saveperks()" class="btn btn-block btn-primary ng-binding">Enviar</button>
                </div>
                <script type="text/ng-template" id="templateidsevent">
                    <p>{{error_log}}</p>
                </script>
              </div>
            </div>
          </div>
        </div>
      <div class="col-lg-12">
          <div class="widget" ng-show="developer">
            <div class="widget-header">
              <i class="fa fa-trophy"></i> {{ 'Developer Category' | translate }}
              <div class="clearfix"></div>
            </div>
            <div class="table-responsive">              
                <table class="table table-striped">
                  <thead>
                    <th class="text-center">
                      {{ 'id' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'Title' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'Body' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'Lang' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'actionssponzor' | translate }}
                    </th>              
                  </thead>
                  <tr ng-repeat="cat in categorias.list">
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="cat.id" />
                    </td>   
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="cat.title" />
                    </td>
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="cat.body" />
                    </td>
                    <td class="text-center">
                      <input type="text" class="form-control" placeholder="" ng-model="cat.lang" />
                    </td>
                    <td class="text-center">
                      <a href="" ng-click="updateeventcategory(cat.id, $index, cat.title, cat.body, cat.lang)"><i class="fa fa-refresh"></i></a>
                      <a href="" ng-click="removeeventcategory($index)"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
            <div class="widget-body medium no-padding">
              <div class="form-group" id="type" ng-show="developer">
                <label for="label" class="col-sm-4 control-label">
                  {{ 'Save_Category' | translate }}
                </label>
                <div class="col-sm-7">
                    <input type="text" placeholder="Category Title" class="form-control ng-pristine ng-untouched" ng-model="categorytitle" style="margin-bottom:15px;">
                    <input type="text" placeholder="Category Body" class="form-control ng-pristine ng-untouched" ng-model="categorybody" style="margin-bottom:15px;">
                    <section style="margin:10px;">{{msgevent}}</section>
                    <button ng-click="savecategory()" class="btn btn-block btn-primary ng-binding">Enviar</button>
                </div>
                <script type="text/ng-template" id="templateidsevent">
                    <p>{{error_log}}</p>
                </script>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>