<div id="page-wrapper" ng-class="{'active': toggle}" class="active">
    <div ng-include="menuprincipal"></div>
      <div id="content-wrapper">
        <div class="page-content">
          <div class="row header">
            <div class="col-xs-12">
              <div class="user pull-right">
        
                <div class="item dropdown" dropdown="" is-open="status.isopen">
                  <input type="hidden" ng-model="event.organizer" class="ng-pristine ng-untouched ng-valid">  
                  <a href="" class="dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                    <input type="hidden" data-ng-init="viewUserInfoheader()">
                    <img data-ng-src="http://www.sponzor.me//images/photo.png" style="border-radius:50%;" src="http://www.sponzor.me//images/photo.png">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">{{emailuser}}</li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="#/users/settings">{{ 'settings' | translate }}</a>
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="#/logout">{{ 'logout' | translate }}</a>
                    </li>
                  </ul>
                </div>
                <div class="item dropdown" dropdown="" is-open="status.isopens">
                  <a href="" class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <section class="numalert ng-binding ng-hide" ng-show="viewitem">0</section>
                    <i class="fa fa-bell-o"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">{{ 'notification' | translate }}</li>
                    <li class="divider"></li>
                    <section ng-show="!viewitem">Sin Notificaciones</section>
                    <ul class="notifications_list">
                      <!-- ngRepeat: alertnot in alertsnot -->
                    </ul>
                  </ul>
                </div>
              </div>
              <div class="meta">
                <div class="page" id="step2">{{ 'dashboard' | translate }}</div>
                <div class="breadcrumb-links">{{ 'home' | translate }} / {{ 'dashboard' | translate }}</div>
              </div>
            </div>
          </div>

        <!--Template asociado a los settings-->
          <div class="row">
            <div class="col-lg-12">
              <div class="widget">
                <div class="widget-header">
                  <i class="fa fa-plus"></i>{{'editaccount' | translate }}
                  <div class="clearfix"></div>
                </div>
                <form class="form-horizontal" role="form">
                <!--form field-->
                  <div class="form-group" id="name">
                    <label for="label" class="col-sm-2 control-label">
                      {{'editaccountname' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <input  type="text" data-ng-model="account.name" name="name" class="form-control" />
                    </div>
                  </div>
                  <!--form field-->
                  <div class="form-group" id="email">
                    <label for="label" class="col-sm-2 control-label">
                      {{'editaccountemail' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <input  type="text" data-ng-model="account.email" name="email" class="form-control" />
                    </div>
                  </div>
                  <!--form field-->
                  <div class="form-group" id="company">
                    <label for="label" class="col-sm-2 control-label">
                      {{'editaccountcompany' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <input  type="text" data-ng-model="account.company" name="company" class="form-control" />
                    </div>
                  </div>
                  <!--form field-->
                  <div class="form-group" id="age">
                    <label for="label" class="col-sm-2 control-label">
                      {{'editaccountage' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <input  type="text" data-ng-model="account.age" name="age" class="form-control" />
                    </div>
                  </div>            
                  <!--form field-->
                  <div class="form-group" id="sex">
                    <label for="label" class="col-sm-2 control-label">
                      {{'editaccountsex' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <select class="form-control" ng-model="account.sex" name="sex" id="sex">     
                        <option value="" selected>{{'chooseSex' | translate}}</option>
                        <option value="0">{{'woman' | translate}}</option>
                        <option value="1">{{'man' | translate}}</option>
                      </select> 
                    </div>
                  </div>
                  <!--form field-->
                  <div class="form-group" id="location">
                    <label for="label" class="col-sm-2 control-label">
                      {{'editaccountlocation' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <input  type="text" placeholder="{{trans('dashboard.neweventlocationdescription')}}" name="location" g-places-autocomplete class="form-control" ng-model="account.location"/>
                    </div>
                  </div>
                  <!--form field-->
                  <div class="form-group" id="comunitySize">
                    <label for="label" class="col-sm-2 control-label">
                      {{'comunitySize' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <input  type="text" ng-model="account.comunity_size" name="comunity_size" class="form-control" />
                    </div>
                  </div>
                  <!--form field-->
                  <div class="form-group" id="description">
                    <label for="label" class="col-sm-2 control-label">
                      {{'editaccountdescription' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <textarea rows="5" data-ng-model="account.description" name="description" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="form-group">

                        <div class="col-sm-12">
                          <label class="col-sm-2 control-label" for="label">Imagen</label>
                          <div class="col-sm-5">
                            <div style="height:120px; wigth:120px;">
                               <img ng-src="http://www.sponzor.me/images/photo.png?sz=120" style="border-radius:50%; height:120px; wigth:120px;"> 
                            </div>
                            <div style="margin:25px;">
                              <input class="col-sm-6 " id="imageInput" type="file" ng-model="temp.image" nv-file-select uploader="uploader"/><br/>
                            </div>
                          </div>
                        <div>               
                    </div>
                  <div class="clearfix"></div>
                  <hr/>
                  <!--form field-->
                  <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-4 "> 
                      <button data-ng-click="editAccount()" class="btn btn-info">{{'submitbutton' | translate}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-lg-6">
              <div class="widget">
                <div class="widget-header">
                  <i class="fa fa-plus"></i>{{'eventbriteMessage' | translate}}
                  <div class="clearfix"></div>
                </div>
                <div class="widget-body medium" ng-if="account.eventbriteKey == ''">
                <p>{{'eventbriteconnectaccounttest' | translate }}</p>
                 <!--  <div  class="text-center"><a class="btn btn-success" href='https://www.eventbrite.com/oauth/authorize?response_type=code&client_id={{Config::get("constants.evenbriteClientId")}}'>{{'eventbriteButton' | translate}}</a>
                  </div> -->

                  <div  class="text-center"><a class="btn btn-success" href='https://www.eventbrite.com/oauth/authorize?response_type=code&client_id={{}}'>{{'eventbriteButton' | translate}}</a>
                  </div>
                </div>
                <div class="widget-body large" ng-if="account.eventbriteKey != '' ">
                  <h2>{{'eventbriteEvents' | translate}}</h2>
                  <rd-loading ng-hide="account.loadingEventbrite"></rd-loading>
                  <div class="table-responsive" ng-show="account.loadingEventbrite">
                    <table class="table table-striped">
                      <thead>
                        <th>{{'title' | translate }}</th>
                        <th>{{'location' | translate }}</th>
                        <th>{{'starts' | translate }}</th>
                        <th>{{'import' | translate }}</th>
                      </thead>
                      <tbody>
                        <tr data-ng-repeat="e in eventbriteevents.list">
                          <td><% e.name.text %></td>
                          <td><% e.venue.address.address_1 %>, <% e.venue.address.city %>, <% e.venue.address.region %></td>
                          <td><% e.start.local %></td>
                          <td><span class="text-success"><a class="btn btn-warning" data-ng-click="importFromEventbrite(e)"><i class="fa fa-check"></i>Import</a></span></td>
                        </tr>
                      </tbody>
                    </table>               
                    </div>
                  <div ng-click="unconnectEventbrite()"  class="text-center">
                    <button class="btn btn-primary">{{'eventbriteButtonUnconnect' | translate }}</button>
                  </div>
                </div>
              </div>          
            </div>
            <div class="col-lg-6" ng-show="a">
                <div class="widget">
                  <div class="widget-header">
                    <i class="fa fa-plus"></i>{{'configureEventbriteImport' | translate}}
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget-body large">
                    <div  ng-include src="'eventbriteImport.html'">
                  </div>
                </div>
            </div>      
          </div>
            <div class="col-lg-6" ng-show="b">
                <div class="widget">
                  <div class="widget-header">
                    <i class="fa fa-plus"></i>{{'configureMeetupImport' | translate}}
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget-body large">
                    <div  ng-include src="'eventbriteImport.html'">
                  </div>
                </div>
            </div>      
          </div>   

        <script type="text/ng-template" id="successevent.html">
          <div class="text-center">
            <h3><% event.message %></h3>
          </div>
          <div class="ngdialog-buttons text-center">
            <button class="btn btn-danger" ng-click="closeThisDialog()"><i class="fa fa-times"></i> {{'close' | translate}}</button>
          </div>
        </script>
        <script type="text/ng-template" id="eventbriteImport.html"> 
                  <form class="form-horizontal" role="form">
                  <!--form field-->
                    <div class="form-group" id="title">
                      <label for="label" class="col-sm-4 control-label">
                        {{'neweventtitle' | translate}}
                      </label>
                      <div class="col-sm-7">
                        <input  type="text" data-ng-model="newevent.title" placeholder="{{'neweventtitledescription' | translate }}" name="title" class="form-control" />
                      </div><br/><br/>
                    </div>
                   <!--form field-->
                    <div class="form-group" id="location">
                      <label for="label" class="col-sm-4 control-label">
                        {{'neweventlocation' | translate}}
                      </label>
                      <div class="col-sm-7">
                        <input  type="text" data-ng-model="newevent.location" ng-autocomplete="results3" details="details3" options="options3" placeholder="{{'neweventlocationdescription' | translate}}" name="location" class="form-control" />
                      </div>
                    </div>
                    <!--form field-->
                    <div class="form-group" id="description">
                      <label for="label" class="col-sm-4 control-label">
                        {{'neweventdescription' | translate}}
                      </label>
                      <div class="col-sm-7">
                        <textarea rows="5" data-ng-model="newevent.description" placeholder="{{'neweventdescriptiondescription' | translate}}" name="description" class="form-control"></textarea>
                      </div>
                    </div>
                    <!--form field-->
                    <div class="form-group" id="starts">
                      <label for="label" class="col-sm-4 control-label">
                        {{'dashboard.neweventstarts' | translate}}
                      </label>
                      <div class="col-sm-7">
                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="dLabel1"  role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  <input type="text" id="starts" class="form-control" data-ng-model="newevent.starts">                        
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="newevent.starts" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                            </ul>
                        </div>                
                      </div>
                    </div>
                    <div class="form-group" id="ends">
                      <label for="label" class="col-sm-4 control-label">
                        {{'neweventends' | translate}}
                      </label>
                      <div class="col-sm-7">
                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="dLabel2"  role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  <input type="text" id="ends" class="form-control" data-ng-model="newevent.ends">                        
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="newevent.ends" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                            </ul>
                        </div>    
                        <input type="hidden" data-ng-model="newevent.organizer" name="organizer" ng-init="newevent.organizer = event.organizer"/>
                      </div>
                    </div>
                    <hr/>
                    <!--form field-->
                    <div class="form-group" id="public">
                      <div class="col-sm-4 control-label">
                          <input id="privacy0"  type="radio" data-ng-model="newevent.privacy" name="privacy" value="0" /> 
                      </div>  
                          <label for="privacy0" class="col-sm-7">
                            <strong>{{'privacyoption0' | translate}} :  </strong>                   
                         
                          {{'privacydescription0' | translate}} </label>

                      <div class="col-sm-4 control-label">
                          <input id="privacy1" type="radio" data-ng-model="newevent.privacy" name="privacy" value="1" />   
                      </div>

                        <label for="privacy1" class="col-sm-7">
                            <strong>{{'privacyoption1' | translate}} :  </strong>                   
                          
                          {{'privacydescription1' | translate}}</label>
                    </div>
                    <!--form field-->
                    <div class="form-group" id="type">
                      <label for="label" class="col-sm-4 control-label">
                        {{'neweventtype' | translate}}
                      </label>
                      <div class="col-sm-7">
                        <select ng-model="newevent.type" name="type" class="form-control">
                          <option value="">{{'choosetype' | translate}}</option>
                          <option data-ng-repeat="c in categorias.list" data-ng-value="c.id">
                            <%c.title%>
                          </option>                
                        </select>
                      </div>
                    </div>
                    <!--form field-->            
                    <div class="table-responsive">              
                      <table class="table table-striped">
                        <thead>
                          <th class="text-center">
                            {{'typesponzor' | translate}}
                          </th>
                          <th class="text-center">
                            {{'quantitysponzor' | translate}}
                          </th>
                          <th class="text-center">
                            {{'pricesponzor' | translate}}
                          </th>
                          <th class="text-center">
                            {{'actionssponzor' | translate}}
                          </th>              
                        </thead>
                        <tr ng-repeat="s in sponzors" data-ng-show="sponzors.length">
                          <td class="text-center">
                            <input type="text" class="form-control" placeholder="" ng-model="s.kind" />
                          </td>   
                          <td class="text-center">
                            <input type="text" class="form-control" placeholder="" ng-model="s.quantity" />
                          </td>
                          <td class="text-center">
                            <input type="text" class="form-control" placeholder="" ng-model="s.usd" />
                          </td>
                          <td class="text-center">
                            <a href="" ng-click="removeSponzor($index)"><i class="fa fa-trash-o"></i></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-sm-3">
                    <button class="btn btn-block btn-warning" ng-click="addsponzor()"> + Add</button>
                    </div>
                    <div class="clearfix"></div>
                    <hr/>
                    <!--form field-->
                    <div class="form-group">
                      <div class="col-sm-6 col-sm-offset-3">
                        <button data-ng-click="newEvent()" class="btn btn-block btn-primary">{{'submitbutton' | translate}} <i class="fa fa-play-circle-o"></i></button>
                      </div>
                    </div>
                  </form>
        </script>
        </div>      
      </div>
    </div>      
  </div>
</div>