<!--Template asociado a los sponzors-->
<div id="page-wrapper" ng-class="{'active': toggle}" class="active">
    <div ng-include="menuprincipal"></div>
      <div id="content-wrapper">
        <div class="page-content">
          <div class="row header">
            <div class="col-xs-12">
              <div class="user pull-right">
        
                <div class="item dropdown" dropdown="" is-open="status.isopen" ng-init="event.organizer = 42">
                  <input type="hidden" ng-model="event.organizer" class="ng-pristine ng-untouched ng-valid">  
                  <a href="" class="dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                    <input type="hidden" data-ng-init="viewUserInfoheader()">
                    <img data-ng-src="http://www.sponzor.me//images/photo.png" style="border-radius:50%;" src="http://www.sponzor.me//images/photo.png">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">{{emailuser}}</li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="#/users/settings">{{ 'settings' | translate }}</a>
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="http://www.sponzor.me/logout">{{ 'logout' | translate }}</a>
                    </li>
                  </ul>
                </div>
                <div class="item dropdown" dropdown="" is-open="status.isopens">
                  <a href="" class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <section class="numalert ng-binding ng-hide" ng-show="viewitem">0</section>
                    <i class="fa fa-bell-o"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">{{ 'notification' | translate }}</li>
                    <li class="divider"></li>
                    <section ng-show="!viewitem">Sin Notificaciones</section>
                    <ul class="notifications_list">
                      <!-- ngRepeat: alertnot in alertsnot -->
                    </ul>
                  </ul>
                </div>
              </div>
              <div class="meta">
                <div class="page" id="step2">{{ 'dashboard' | translate }}</div>
                <div class="breadcrumb-links">{{ 'home' | translate }} / {{ 'dashboard' | translate }}</div>
              </div>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-1">      
                    <div class="widget">
                      <div class="widget-header">
                        <i class="fa fa-tasks"></i> {{ 'sponzors' | translate }}
                      </div>
                      <div class="widget-body medium no-padding">
                        <div class="table-responsive">
                          <table class="table table-striped" >
                            <thead>
                              <tr>
                                <th class="text-center">{{ 'name' | translate }}</th>
                                <th class="text-center">{{ 'email' | translate }}</th>
                                <th class="text-center">{{ 'eventtitle' | translate }}</th>
                                <th class="text-center">{{ 'sponzoring' | translate }} type</th>
                                <th class="text-center">{{ 'state' | translate }}</th>
                                <th class="text-center">{{ 'opstions' | translate }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="s in sponzors.list" >
                                <td class="text-center">{{s.name}}</td>
                                <td class="text-center">{{s.email}}</td>
                                <td class="text-center">{{s.event}}</td>
                                <td class="text-center">{{s.kind}}</td>
                                <td class="text-center"><div ng-if="s.eventstate == 0">{{ 'eventstate0' | translate }}</div><div ng-if="s.eventstate == 1">{{ 'eventstate1' | translate }}</div></td>
                                <td class="text-center">
                                  <div style="display: inline-block">
                                    <div ng-if="s.eventstate == 0"> 
                                      <a  href="" ng-click="updateRelSponzorPeak(s.idRelSponzoring,1)"><i class="fa fa-star-o"></i></a>
                                    </div>
                                    <div ng-if="s.eventstate == 1"> 
                                      <a  href="" ng-click="updateRelSponzorPeak(s.idRelSponzoring,0)"><i class="fa fa-star"></i></a>
                                    </div>
                                  </div>
                                  <a  href="" ng-if="s.eventstate == 1" ng-click="getTaskSponzorPeak(s.idRelSponzoring)"><i class="fa fa-tasks"></i></a>
                                  <a href="" ng-if="s.eventstate == 0" ng-click="removeRelSponzorPeak(s.idRelSponzoring)"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    </div>

                    <!-- A partir de aca se muestran las notas de acuerdo al peak y al sponzor seleccionado -->
                  <div class="row">
                  <div class="col-lg-10 col-lg-offset-1">
                    <div class="widget">
                      <div class="widget-header">
                        <i class="fa fa-plus"></i>{{ 'todosList' | translate }}
                        <div class="clearfix"></div>
                      </div>
                    <div class="widget-body medium no-padding">
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>{{ 'todoTitle' | translate }}</th>
                            <th>{{ 'todoDescription' | translate }}</th>
                            <th>{{ 'todoStatus' | translate }}</th>
                            <th>{{ 'todoActions' | translate }}</th>
                          </thead>
                          <tbody>
                            <tr data-ng-repeat="t in todo" ng-class="{success: t.status === 1, warning: t.status === 0}">
                              <td>{{ t.title }}</td>
                              <td>{{ t.description }}</td>
                              <td><div ng-if="t.status == 0">{{ 'taskNoCompleted' | translate }}</div><div ng-if="t.status == 1">{{ 'taskCompleted' | translate }}</div></td>
                              <td>
                                <span class="text-success">
                                  <a href="" ng-if="t.status == 0" ng-click="updateStatusTaskSponzorPeak(t.idTS,1,t.sponzor_event_id)">
                                  <i class="fa fa-check"></i></a>
                                  <a href="" ng-if="t.status == 1" ng-click="updateStatusTaskSponzorPeak(t.idTS,0,t.sponzor_event_id)">
                                  <i class="fa fa-times"></i></a>
                                  <a href="" ng-click="removeTaskSponzorPeak(t.id,t.sponzor_event_id)">
                                  <i class="fa fa-trash-o"></i></a>                      
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>