<section class="white-background">
  <div class="navbar white-background navbar-fixed-top" ng-include src="'views/header.html'"></div>
    <div class="row">
      <div class="col-12">
          <form class="form-signin white-background margin-top-50" name="createSponzor" role="form" ng-submit="createSponzor.$valid && sendfrom()">
            <div class="account-wall">
            <img class="profile-img" src="images/sponzor.png" alt="">
            <h2 class="form-signin-heading">{{'register' | translate }} {{ 'asSponzor' | translate }}</h2>

            <div class="form-group">
                    <input type="input" class="form-control" placeholder="{{'editarname' | translate }}" autofocus required data-ng-model="name">
            </div>
            <div class="form-group">
                <input type="input" class="form-control" placeholder="{{'editarlasname' | translate }}" autofocus required data-ng-model="lastname">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" placeholder="{{'editaccountemail' | translate }}" autofocus required data-ng-model="email">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder = "{{'attributes_password' | translate }}" required required data-ng-model="passwordone">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder = "{{'attributes_confirmpassword' | translate }}" required data-ng-model="passwordtwo">
            </div>
            <div  ng-show="!loagind">
                <input class="btn btn-block btn-primary" type="submit" value="{{'signin' | translate }}">
            </div>
          </form>
        </div>
      </div>
    <div class="footer white-background navbar-fixed-bottom" ng-include src="'views/footer.html'"></div>
  </section>
