    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main" id="step3">
          <a href="" ng-click="toggleSidebar()">
            {{'dashboard' | translate }}
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>{{'navigation' | translate }}</span></li>
        <li class="sidebar-list">
          <a href="#/sponzors/dashboard">{{'dashboard' | translate }}<span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/sponzors/following">{{'following' | translate }} <span class="menu-icon fa fa-eye"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/sponzors/sponzoring">{{'sponzoring' | translate }} <span class="menu-icon fa fa-bolt"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/sponzors/settings">{{'settings' | translate }}<span class="menu-icon fa fa-cogs"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/sponzors/friend">{{'invite' | translate }} <span class="menu-icon fa fa-smile-o"></span></a>
        </li>
        <li ng-if="tolsctive" class="menu-app">
          <p class="great">{{'messageapp1'|translate}}</p>
          <img ng-src="images/devices.png" alt="SponzorMe IOS App - App Store" width="120px" />
          <p>{{'messageapp2'|translate}}</p>
          <a href="http://j.mp/spmeandroid" target="_blank"><img ng-src="images/play_store.png" alt="SponzorMe Android App - Play Store" width="120px" /></a>
          <a href="http://j.mp/spniosapp" target="_blank"><img ng-src="images/app_store.png" alt="SponzorMe IOS App - App Store" width="120px" /></a>
        </li>
      </ul>
      <div class="sidebar-footer" id="step4">
    <div class="col-xs-4">
      <a id="blogUrl" href="http://blogen.sponzor.me/">{{ 'blog' | translate }}</a>
    </div>
    <div class="col-xs-4">
      <a href="http://www.sponzor.me/testimonials" target="_blank">{{ 'about' | translate }}</a>
    </div>
    <div class="col-xs-4">
      <a target="_blank" href="http://support.sponzor.me/">{{ 'support' | translate }}</a>
    </div>
  </div>
    </div>

    <!-- End Sidebar -->
