// -----------------------------------------
	// Layout Breakpoints
// -----------------------------------------
$maxWidth: 1280;


// -----------------------------------------
	// Font Sizes
// -----------------------------------------
$regularSize: 12;


// -----------------------------------------
	// Font Families
// -----------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// SponzorMe Material Design

//$darkPrimaryColor:   #303F9F
//$primaryColor:       #3F51B5
//$lightPrimaryColor:  #C5CAE9
//$textPrimaryColor:   #FFFFFF
//$accentColor:        #448AFF
//$primaryTextColor:   #212121
//$secondaryTextColor: #727272
//$dividerColor:       #B6B6B6