<div layout-fill class="allContainer">
  <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>
  <md-content class="superContainer" layout="row">
    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenavOrg.html'" ng-controller="SidenavController"></div>
    <div class="cont" flex>
      <!-- navbar -->
      <!-- show-gt-xs don't work ¿? -->
      <div class="menuItems menuItemsOrganizer" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <a href="#/organizers/dashboard" md-ink-ripple>
          <md-icon aria-label="b">reply</md-icon>
        </a>
        <organizers-navbar></organizers-navbar>
      </div>

        <div class="chatContainer" layout="column" flex >
          <h2>{{occ.sponzorshipInfo.Event.title}}
            {{occ.sponzorshipInfo.Perk.kind}}
            ${{occ.sponzorshipInfo.Perk.usd}}USD</h2>
          <div class="messagesContainer">
            <div ng-repeat="m in occ.chatMessages| orderBy: - timedate" class="messageOrg" ng-class="{'messageSponzor': m.type == '#F6CECE'}" flex layout="row">
              <div class="userImage" flex="20" layout-align="center center" layout="column" layout-align="center center" ng-if="m.type == '#F6CECE'">
                <div>
                  <img ng-src="{{m.userImage}}"/>
                  <p layout-align="center center">{{m.timedate|date:'medium'}}</p>
                </div>
              </div>
              <div flex="80" layout="column" layout-align="center start" ng-if="m.type == '#F6CECE'">{{m.text}}</div>
              <div flex="80" layout="column" layout-align="center start" ng-if="m.type == '#5DDECF'">{{m.text}}</div>
              <div class="userImage" flex="20" layout-align="center center" layout="column" layout-align="center center" ng-if="m.type == '#5DDECF'">
                <div>
                  <img ng-src="{{m.userImage}}"/>
                  <p layout-align="center center">{{m.timedate|date:'medium'}}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <md-input-container class="md-block inputMessage" layout="row" flex>
          <label translate>chat.writeMessage</label>
          <input required name="description" ng-model="occ.newMessage.text" flex="85">
          <md-button aria-label="send" ng-click="occ.addMessage()" flex="10">
            <md-icon>send</md-icon>
          </md-button>
        </md-input-container>
      </div>
    </md-content>
    <div ng-include src="'./views/components/footer/footer.html'"></div>
  </div>
</div></div>
