<md-dialog aria-label="dialog">
  <md-toolbar>
    <div class="md-toolbar-tools top-info">
      <i class="material-icons md-48 md-light">info</i>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <h2>{{currentSponzorship.event.title}}</h2>
    <p><md-icon>timer</md-icon> {{starts|date:'medium'}}</p>
    <p><md-icon>timer_off</md-icon> {{ends|date:'medium'}}</p>
    <p><strong translate>sponzorsSponzorships.calendarInstructions</strong></p>

    <div layout="column" ng-controller="addCalendarController">
      <md-button class="md-raised" ng-click="calendarUrl.dlIcal()">iCalendar</md-button>
      <md-button class="md-raised md-primary" href="{{calendarUrl.google}}" target="_blank">Google Calendar</md-button>
      <md-button class="md-raised md-primary" ng-click="calendarUrl.dlIcal()">Outlook</md-button>
      <md-button class="md-raised md-warn" href="{{calendarUrl.yahoo}}" target="_blank">Yahoo! Calendar</md-button>
      <md-button class="md-raised md-warn" href="{{calendarUrl.microsoft}}" target="_blank">Microsoft Calendar</md-button>
    </div>
  </md-dialog-content>
</md-dialog>
