<md-dialog aria-label="dialog">
  <md-toolbar>
    <div class="md-toolbar-tools top-info">
      <i class="material-icons md-48 md-light">info</i>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="column" layout-align="center center">
      <label ng-show="connectingToMeetup">
        <p>{{'addEvent.meetup.connectingToMeetup' | translate}}</p>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </label>
      <label ng-show="connectedToMeetup">
        {{'addEvent.meetup.connectedToMeetup' | translate}}
        <md-icon>check</md-icon>
      </label>
      <a ng-show="!connectingToMeetup && !connectedToMeetup"  href="https://secure.meetup.com/oauth2/authorize?client_id={{MEETUPAPIKEY}}&response_type=code&redirect_uri={{MEETUPREDIRECTURL}}">
        <label>
          <p>{{'addEvent.meetup.connectToMeetup' | translate}}
          <md-icon>rss_feed</md-icon></p>
        </label>
      </a>
      <label ng-show="loadingMeetupEvents">
        <p>{{'addEvent.meetup.loadingMeetupEvents' | translate}}</p>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </label>
      <label ng-show="!loadingMeetupEvents && meetupEvents.length">
        <p>{{'addEvent.meetup.meetupEventsLoaded' | translate}}<md-icon>check</md-icon></p>
      </label>
      <div ng-show="!loadingmeetupEvents && meetupEvents.length">
        <div class="meetupHeader" layout="row" flex="100" layout-align="center center">
          <p flex="40" layout="column" layout-align="center center">{{'addEvent.meetup.title' | translate }}</p>
          <p flex="25" layout="column" layout-align="center center">{{'addEvent.meetup.date'| translate}}</p>
          <p flex="25" layout="column" layout-align="center center">{{'addEvent.meetup.group'| translate}}</p>
          <p flex="10" layout="column" layout-align="center center">{{'addEvent.meetup.import'| translate}}</p>
        </div>
        <div class="meetupEventItem" layout="row" flex="100" layout-align="center center" ng-repeat="e in meetupEvents">
          <p flex="40" layout="column" layout-align="center center">{{ e.name }}</p>
          <p flex="25" layout="column" layout-align="center center">
            {{ e.time | date:'medium'}}</p>
          <p flex="25" layout="column" layout-align="center center">{{ e.group.name}}</p>
          <a href="" ng-click="prefillEventFromMeetup(e)" flex="10" layout="column" layout-align="center center"><md-icon>file_download</md-icon></a>
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
