<md-dialog aria-label="dialog">
  <md-toolbar>
    <div class="md-toolbar-tools top-info">
      <i class="material-icons md-48 md-light">info</i>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="column" layout-align="center center">
      <form name="addSponzorshipTypeForm" layout="column" novalidate>
        <md-input-container >
          <label>{{'addEvent.kind'|translate}}</label>
          <input type="text" ng-model="newSponzorshipType.kind" />
        </md-input-container>
        <md-input-container >
          <label>{{'addEvent.usd'|translate}}</label>
          <input type="number" ng-model="newSponzorshipType.usd" min="0" max="50"/>
        </md-input-container>
        <md-input-container >
          <label>{{'addEvent.totalQuantity'|translate}}</label>
          <input type="number" ng-model="newSponzorshipType.totalQuantity" min="0" max="10"/>
        </md-input-container>
        <md-input-container >
          <label>{{'addEvent.reservedQuantity'|translate}}</label>
          <input type="number" ng-model="newSponzorshipType.reservedQuantity" min="0" max="10"/>
        </md-input-container>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button type="submit" form="addSponzorshipTypeForm" ng-click="addSponzorshipType()" class="md-primary">
      {{'addEvent.saveSponzorshipType'|translate}}
    </md-button>
  </md-dialog-actions>
</md-dialog>
