<div class="container">

<section ng-controller="HomeController">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="" href="/"><p height="45px">SponzorMe</p></a>
    </div>
    <div class="collapse navbar-collapse">
      
      <section ng-show="userfroups">
          <ul class="nav navbar-nav">
            <a href="#/users">{{ 'users' | translate }}</a></li>
            <a href="#/groups">{{ 'groups' | translate }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <a href="#/users">{{ 'users' | translate }}</a></li>
            <a href="#/groups">{{ 'groups' | translate }}</a></li>
          </ul>
      </section>
      <ul class="nav navbar-nav navbar-right">
        <section ng-show="vieuser">
            <li><a href="#/users/userId">{{ email.user }}</a></li>
            <section ng-show="typeuser">
              <li><a href="#/users/dashboard">{{ 'dashboard' | translate }}</a></li>
            </section>
            <section ng-show="!typeuser">
              <li><a href="#/sponsors/dashboard">{{ 'dashboard' | translate }}</a></li>
            </section>
            <li><a href="#/logout">{{ 'logout' | translate }}</a></li>
        </section>
        <section ng-show="!vieuser">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/login">{{ 'login' | translate }}</a></li>
            <li><a href="#/sponsors/create">{{ 'sponsorreg' | translate }}</a></li>
            <li><a href="#/users/create">{{ 'organizerreg' | translate }}</a></li>
          </ul> 
        </section> 
      </ul>
    </div><!--/.nav-collapse -->
      
  </div>
</div>

<div class="">
  <ul class="cb-slideshow">
            <li><span>Image 01</span><!--<div><h3>{{trans('pages.slide1')}}</h3></div>--></li>
            <li><span>Image 02</span><!--<div><h3>{{trans('pages.slide2')}}</h3></div>--></li>
            <li><span>Image 03</span><!--<div><h3>{{trans('pages.slide3')}}</h3></div>--></li>
            <li><span>Image 04</span><!--<div><h3>{{trans('pages.slide4')}}</h3></div>--></li>
            <li><span>Image 05</span><!--<div><h3>{{trans('pages.slide5')}}</h3></div>--></li>
            </ul>
  <div class="container">
    <header>
                <h1><span>{{ 'copy' | translate }}</span></h1>
                <h2>{{ 'nextaction' | translate }}</h2>
    </header>
    <div class="row">
      <h1>{{ 'getting' | translate }}</h1>
      <a href="#/sponsors/create" class="btn btn-primary btn-lg" role="button">{{ 'sponsorreg' | translate }}</a> 
      <a href="#/users/create" class="btn btn-primary btn-lg " role="button">{{ 'organizerreg' | translate }}</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row">
  <div class="col-md-4">&nbsp;&nbsp;&nbsp;
      <p id="newlog">SponzorMe</p>&nbsp;&nbsp;
      <a class="" href="#" ng-click="changeLanguage('es')"><img height="16px" src="assets/images/spanish.png"></a>&nbsp;
      <a class="" href="#" ng-click="changeLanguage('en')"><img height="16px" src="assets/images/english.png"></a>&nbsp;
      <a class="" href="#" ng-click="changeLanguage('pt')"><img height="16px" src="assets/images/pt.png"></a>
  </div>
  <div class="col-md-4">
      <a href="#/testimonials">{{ 'testimonials' | translate }}</a>&nbsp;|&nbsp
      <a href="http://support.sponzor.me" target="_blank">{{ 'support' | translate }}</a>&nbsp;|&nbsp
      <a href="http://bloges.sponzor.me/" target="_blank">{{ 'blog' | translate }}</a> 
      &nbsp|&nbsp{{ 'team' | translate }}&nbsp;|&nbsp
      <a href="#/privacy" target="_blank">{{ 'privacy' | translate }}</a> 
  </div>
  <div class="col-md-4" align="right">
      Made with Love ❤&nbsp;&nbsp;&nbsp;
  </div>   
  </div>
</div>
</section>

</div>
