<div layout-fill class="allContainer">

  <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>

  <md-content class="superContainer" layout="row">

    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenav.html'" ng-controller="SidenavController"></div>

    <div class="cont" flex>

      <!-- navbar -->
      <!-- show-gt-xs don't work ¿? -->
      <div class="menuItems md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <a href="#/sponzors/dashboard" md-ink-ripple>
          <md-icon aria-label="b">reply</md-icon>
        </a>
        <div class="buttons" layout="row" layout-align="start center">
          <a href="#/sponzors/notifications">
            <md-icon aria-label="b">notifications</md-icon>
          </a>
          <a class="md-icon-button">
            <md-icon aria-label="b">send</md-icon>
          </a>
          <a class="md-icon-button">
            <md-icon aria-label="b">person</md-icon>
          </a>
        </div>
      </div>

      <!-- Content starts -->

      <div class="contentContainer" flex ng-controller="SponzorsSponzorshipsController">
        <div class="notifyDetailContainer md-whiteframe-1dp" layout="column">

          <div class="eventContainer" layout="column">
            <div class="shareButton">
              <md-button class="md-fab">
                <md-icon>share</md-icon>
              </md-button>
            </div>
            <img src="../../images/home-bkg.jpg" alt="image">
            <div class="imageTexts">
              <h3>{{currentSponzorship.event.title}}</h3>
              <p ng-bind-html="currentSponzorship.event.description"></p>
            </div>

            <div class="textsContainer">
              <h3 class="color-blue-brighter" translate>eventPage.speaker</h3>
              <p>{{currentSponzorship.organizer.name}} <span class="color-blue-brighter">{{currentSponzorship.organizer.email}}</span></p>
              <p class="description">
                {{currentSponzorship.event.organizer.description}}
              </p>
              <md-divider></md-divider>

              <div class="eventInfo" layout="row" layout-wrap>
                <div class="item">
                  <p class="color-blue-brighter" translate>eventPage.organizer</p>
                  <div layout="row" layout-align="start center">
                    <img src="{{currentSponzorship.organizer.image}}" alt="">
                    <div>
                      <p>{{currentSponzorship.organizer.name}}</p>
                      <div layout="row">
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon>star_border</md-icon>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <p class="color-blue-brighter" translate>eventPage.date</p>
                  <div layout="row" layout-align="start center">
                    <md-icon>access_time</md-icon>
                    <div>
                      <p>{{currentSponzorship.event.starts|date:'MMM dd, yyyy'}}</p>
                      <p>{{currentSponzorship.event.starts|date:'dd:hha'}} - {{currentSponzorship.event.ends|date:'dd:hha'}}</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <p class="color-blue-brighter" translate>eventPage.location</p>
                  <div layout="row" layout-align="start center">
                    <md-icon>location_on</md-icon>
                    <div>
                      <p>{{currentSponzorship.event.location}} </p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="" class="contact" md-ink-ripple layout="row" layout-align="start center" flex="25">
                <md-icon>email</md-icon>
                <p translate>eventPage.writeToOrganizer</p>
              </a>

              <md-divider></md-divider>

              <div class="sponzoringActions">
                <div>
                  <span class="color-active" translate>sponzorsSponzorships.type</span>: Food
                </div>
                <div class="sponzorringButtons" layout="row" layout-align="start center">
                  <span class="color-active" translate>sponzorsSponzorships.actions</span>
                  <div layout="row" layout-align="start center">
                    <a href="">
                      <md-icon class="color-active">thumb_up</md-icon>
                    </a>
                    <a href="">
                      <md-icon class="color-active">event</md-icon>
                    </a>
                    <a href="">
                      <md-icon class="color-active">help</md-icon>
                    </a>
                    <a href="">
                      <md-icon class="color-active">comment</md-icon>
                    </a>
                    <a href="">
                      <md-icon class="color-active">stars</md-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contentContainer eventTasks" flex>
            <p translate>eventPage.taskForThisEvent</p>
            <div class="notifyDetailContainer eventTasks" layout="column">
              <div class="eventTitles" layout="row" hide-xs>
                <div layout="row" flex="100">
                  <p flex="30" layout="row" layout-align="center center" translate>tasks.title</p>
                  <p flex="40" layout="row" layout-align="center center" translate>tasks.description</p>
                  <p flex="20" layout="row" layout-align="center center" translate>tasks.status</p>
                  <p layout="row" layout-align="center center" flex="25" translate hide-md hide-sm hide-xs></p>
                </div>
              </div>
            </div>
            <div class="eventItem" layout="column" layout-gt-xs="row" ng-repeat="item in currentSponzorship.task_sponzor">
              <a class="eventInfo" href="#/sponzors/sponzoring/:id" layout="row" flex="100">
                <p class="eventTitle" flex="30" layout="row" layout-align="center center" translate>{{item.task.title}}</p>
                <p class="eventDate" flex="40" layout="row" layout-align="center center" translate>{{item.task.description}}</p>
                <p class="eventSponzorType" flex="20" layout="row" layout-align="center center" translate>{{item.status}}</p>
                <div layout="row" layout-align="center center" flex="25"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</md-content>
<div ng-include src="'./views/components/footer/footer.html'"></div>
</div>
