<div layout-fill class="allContainer">

 <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>

  <md-content class="superContainer" layout="row">

    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenav.html'" ng-controller="SidenavController"></div>


    <div class="cont" flex>

    <div class="menuItems md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <div class="menuItemContainer" layout="row">
        </div>
        <div class="buttons" layout="row" layout-align="start center">
          <a href="#sponzors/notifications">
            <md-icon aria-label="b">notifications</md-icon>
          </a>
          <a href="" class="md-icon-button">
            <md-icon aria-label="b">send</md-icon>
          </a>
           <a href="" class="md-icon-button">
            <md-icon aria-label="b">person</md-icon>
          </a>
        </div>
      </div>



    <!-- Content starts -->

      <div class="contentContainer" flex ng-controller="SponzorsSponzorshipsController">
        <div class="notifyDetailContainer" layout="column">
          <div class="eventTitles" layout="row"  hide-xs>
            <div layout="row" flex="100">
              <p flex="30" layout="row" layout-align="center center" translate>sponzorsSponzorships.title</p>
              <p flex="20" layout="row" layout-align="center center" translate>sponzorsSponzorships.date</p>
              <p flex="20" layout="row" layout-align="center center" translate>sponzorsSponzorships.type</p>
              <p flex="20" layout="row" layout-align="center center" translate>sponzorsSponzorships.status</p>
            </div>
            <p layout="row" layout-align="center center" flex="25" translate>sponzorsSponzorships.actions</p>
          </div>
          <div class="eventItem" layout="column" layout-gt-xs="row" ng-repeat="item in user.sponzorships">
            <a class="eventInfo" href="#/sponzors/sponzoring/:id" layout="row" flex="100">
              <p class="eventTitle" flex="30" layout="row" layout-align="center center"  translate>{{item.event.title}}</p>
              <p class="eventDate" flex="20" layout="row" layout-align="center center">{{item.event.starts|date:'MMM dd, yyyy h:mma'}}</p>
              <p class="eventSponzorType" flex="20" layout="row" layout-align="center center" translate>{{item.perk.kind}}</p>
              <p class="eventStatus" flex="20" layout="row" layout-align="center center" translate>
                {{statuses[item.status]}}
              </p>
            </a>
            <div class="actionSponzor" layout="row" layout-align="center center" flex="25">
              <a href=""><md-icon>thumb_up</md-icon></a>
              <a href=""><md-icon>event</md-icon></a>
              <a href=""><md-icon>help</md-icon></a>
              <a href=""><md-icon>comment</md-icon></a>
              <a href=""><md-icon>stars</md-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-content>


  <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>
