<div layout-fill class="allContainer">
  
 <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>
  
  <md-content class="superContainer" layout="row"> 
    
    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenav.html'" ng-controller="SidenavController"></div>
  
    <div class="cont" flex>
    
    <!-- navbar -->      
      <!-- show-gt-xs don't work ¿? -->
      <div class="menuItems md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <a href="#/sponzors/dashboard" md-ink-ripple>
          <md-icon aria-label="b">reply</md-icon>
        </a>
        <div class="buttons" layout="row" layout-align="start center">
          <a href="#/sponzors/notifications">
            <md-icon aria-label="b">notifications</md-icon>
          </a>
          <a class="md-icon-button">
            <md-icon aria-label="b">send</md-icon>
          </a>
           <a class="md-icon-button">
            <md-icon aria-label="b">person</md-icon>
          </a>
        </div>
      </div>

         
    
    <!-- Content starts -->    
      
      <div class="contentContainer" flex>     
        <div class="notifyDetailContainer md-whiteframe-1dp" layout="column">
          
          <div class="eventContainer" layout="column">
            <div class="shareButton">
              <md-button class="md-fab">
                <md-icon>share</md-icon>
              </md-button>
            </div>
            <img src="../../images/home-bkg.jpg" alt="image">
            <div class="imageTexts">
              <h3>Un vistazo a IONIC 1.2.X</h3>
              <p>_El equipo de Ionic anuncio hace poco una nueva version de Ionic 1 la cual trae muchas cosas interesantes. Este meetup es sobre explorar esos cambios y como puedo mejorar mis apps._</p>
              <a href="https://github.com/driftyco/ionic/releases/tag/v1.2.1">Github</a>
            </div>
            
            <div class="textsContainer">
              <h3 class="color-blue-brighter">_Speaker:_</h3>
              <p>Carlos Rojas <span class="color-blue-brighter">@carlosrojas_o</span></p>         
              <p class="description">
                _Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex adipisci ab assumenda consequuntur necessitatibus dolores, minus unde dicta. Id possimus placeat non. Neque consectetur quidem._
              </p>
              <md-divider></md-divider>
              
              <div class="eventInfo" layout="row" layout-wrap>
                <div class="item">
                  <p class="color-blue-brighter" translate>Organizer</p>
                  <div layout="row" layout-align="start center">
                    <img src="../../images/pic.png" alt="">
                    <div>
                      <p>Mike Cunningham</p>
                      <div layout="row">
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon>star_border</md-icon>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <p class="color-blue-brighter" translate>_Fecha_</p>
                  <div layout="row" layout-align="start center">
                    <md-icon>access_time</md-icon>
                    <div>
                      <p>Domingo, Enero 10</p>
                      <p>09:00 PM - 03:00 AM</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <p class="color-blue-brighter" translate>_Lugar_</p>
                  <div layout="row" layout-align="start center">
                    <md-icon>location_on</md-icon>
                    <div>
                      <p>_Por confirmar_</p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="" class="contact" md-ink-ripple layout="row" layout-align="start center" flex="25">
                <md-icon>email</md-icon>
                <p>_Escribir al organizador_</p>
              </a>

              <md-divider></md-divider>
             
              <div class="sponzoringActions">
                <div>
                  <span class="color-active" translate>seePerks:</span> _LUGAR_ 
                </div>
                <div class="sponzorringButtons" layout="row" layout-align="start center">
                  <span class="color-active" translate>actionssponzor:</span>
                  <div layout="row" layout-align="start center">
                    <a href=""><md-icon class="color-active">thumb_up</md-icon></a>
                    <a href=""><md-icon class="color-active">event</md-icon></a>
                    <a href=""><md-icon class="color-active">help</md-icon></a>
                    <a href=""><md-icon class="color-active">comment</md-icon></a>
                    <a href=""><md-icon class="color-active" >stars</md-icon></a>
                  </div>
                </div>
              </div>

            </div>
          </div>  


            <div class="contentContainer eventTasks" flex>     
              <p>Tareas para este evento:</p>
              <div class="notifyDetailContainer eventTasks" layout="column">
                <div class="eventTitles" layout="row"  hide-xs>
                  <div layout="row" flex="100">
                    <p flex="30" layout="row" layout-align="center center" translate>title</p>
                    <p flex="20" layout="row" layout-align="center center" translate>_fecha_</p>
                    <p flex="20" layout="row" layout-align="center center" translate>_tipo de patrocinio_</p>
                    <p flex="20" layout="row" layout-align="center center" translate>status</p>
                    <p layout="row" layout-align="center center" flex="25" translate hide-md hide-sm hide-xs></p>
                  </div>                  
                </div>

                <div class="eventItem" layout="column" layout-gt-xs="row" ng-repeat="item in eventItem">            
                  <a class="eventInfo" href="#/sponzors/sponzoring/:id" layout="row" flex="100">
                    <p class="eventTitle" flex="30" layout="column" layout-align="center center" translate>{{item.title}}</p>
                    <p class="eventDate" flex="20" layout="row" layout-align="center center" translate>{{item.date}}</p>
                    <p class="eventSponzorType" flex="20" layout="row" layout-align="center center" translate>{{item.sponzorType}}</p>
                    <p class="eventStatus" flex="20" layout="row" layout-align="center center" translate>
                      {{item.status}}
                    </p>
                    <div layout="row" layout-align="center center" flex="25" hide-md hide-sm hide-xs></div>
                  </a>                                      
                </div>
              </div>                           
            </div>                   
        
        </div>
      </div>
    </div> 
  </md-content>  
  <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>











