<div id="page-wrapper" ng-class="{'active': toggle}" class="{{tolsctive}}">
  <div ng-include="menuprincipal"></div>
  <div id="content-wrapper">
    <div class="page-content" ng-controller="SponzorsSponzorshipsController">
      <div class="row header">
        <div class="row header" ng-include src="'views/sponzors/dashboard/header.html'"></div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-tasks"></i> {{ 'followedEvents' | translate }}
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">{{ 'organizer' | translate }}</th>
                      <th class="text-center">{{ 'Event' | translate }}</th>
                      <th class="text-center">{{ 'perkUsd' | translate }}</th>
                      <th class="text-center">{{ 'starts' | translate }}</th>
                      <th class="text-center">{{ 'actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="!user.acceptedSponzorships.length">
                      <td colspan="6" class="text-center">
                        <h2 class="text-center">{{'noSponzorshipsMessageSponzor'| translate}}</h2>
                      </td>
                    </tr>
                    <tr ng-show="user.acceptedSponzorships.length" data-ng-repeat="s in user.acceptedSponzorships" data-ng-class="{success : currentSponzorship.id === s.id}"
                    ng-click="showTasks(s)" class="row-hover">
                      <td class="text-center">{{s.organizer.name}}&nbsp;
                        <a href="#/profile/{{ s.organizer.id }}" tooltip="{{'OrganizerInformation'|translate}}"><i class="fa fa-info-circle"></i></a>
                      </td>
                      <td class="text-center">{{s.event.title}}&nbsp;
                        <a href="#/event/{{ s.event.id }}" target="_blank" tooltip="{{'EventPage'|translate}}"><i class="fa fa-arrows-alt"></i></a>
                      </td>
                      <td class="text-center">{{s.perk.kind}} - ${{s.perk.usd}}</td>
                      <td class="text-center">{{s.event.starts| date}}&nbsp;
                        <a href="" ng-click="downloadCalendar(s)" tooltip="{{'AddToCalendar'|translate}}"><i class="fa fa-calendar"></i></a>
                      </td>
                      <td class="text-center">
                        <a href="" ng-click="seeCause(s)" tooltip="{{'SeeCause'|translate}}"><i class="fa fa-question-circle"></i></a>&nbsp;
                        <a href="" ng-click="openLocation(s)"><i class="fa fa-map-marker" tooltip="{{'SeeEventLocation'|translate}}"></i></a>&nbsp;
                        <a href="#/sponzors/chat/sponzorship/{{s.id}}" tooltip="{{'ChatWithOrganizer'|translate}}"><i class="fa fa-comment"></i></a>&nbsp;
                        <a ng-if="s.status==1 && s.perk.usd !=0" href="" ng-click="paymentInformation(s)" tooltip="{{'ProceedToPay'|translate}}"><i class="fa fa-credit-card"></i></a>
                        <a ng-if="s.status==3 || s.perk.usd ==0" href="" tooltip="{{'SponzorshipPaid'|translate}}"><i class="fa fa-check"></i></a>
                        <a href="" ng-click="sendToRating(s)" ng-if="s.status >= 1 && s.event.ends < todayDate"><i class="fa fa-smile-o"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="widget">
              <div class="widget-header">
                <i class="fa fa-plus"></i>{{ 'organizerTasks' | translate }}
                <div class="clearfix"></div>
              </div>
              <div class="widget-body medium no-padding">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <th class="text-center">{{ 'todoTitle' | translate }}</th>
                      <th class="text-center">{{ 'todoDescription' | translate }}</th>
                    </thead>
                    <tbody>
                      <tr ng-show="!organizerTasks.length">
                        <td colspan="4" class="text-center">
                          <h2 class="text-center">{{'noSponzorshipsTaskMessage'| translate}}</h2>
                        </td>
                      </tr>
                      <tr ng-show="organizerTasks.length" data-ng-repeat="t in organizerTasks">
                        <td class="text-center">{{ t.task.title }}
                          <span ng-if="t.status == 0">({{ 'taskNoCompleted' | translate }})</span>
                          <span ng-if="t.status == 1">({{ 'taskCompleted' | translate }})</span>                          
                        </td>
                        <td class="text-center">{{ t.task.description }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="widget">
              <div class="widget-header">
                <i class="fa fa-plus"></i>{{ 'YourTasks' | translate }}
                <a href="" ng-click="showTaskForm(currentSponzorship)" ng-if="currentSponzorship" class="pull-right btn btn-primary">
                  <i class="fa fa-plus"></i>&nbsp;{{ 'add_task' | translate }}</a>
                <div class="clearfix"></div>
              </div>
              <div class="widget-body medium no-padding">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <th class="text-center">{{ 'todoTitle' | translate }}</th>
                      <th class="text-center">{{ 'todoDescription' | translate }}</th>
                      <th class="text-center">{{ 'actions' | translate }}</th>
                    </thead>
                    <tbody>
                      <tr ng-show="!sponzorTasks.length">
                        <td colspan="4" class="text-center">
                          <h2 class="text-center">{{'noSponzorshipsTaskMessage'| translate}}</h2>
                        </td>
                      </tr>
                      <tr ng-show="sponzorTasks.length" data-ng-repeat="t in sponzorTasks" ng-class="{success: t.status, warning: !t.status}">
                        <td class="text-center">{{ t.task.title }}
                          <span ng-if="t.status == 0">({{ 'taskNoCompleted' | translate }})</span>
                          <span ng-if="t.status == 1">({{ 'taskCompleted' | translate }})</span>
                        </td>
                        <td class="text-center">{{ t.task.description }}</td>
                        <td class="text-center">
                          <i ng-if="t.loading" class="fa fa-cog fa-spin"></i>
                          <a href="" ng-click="changeStatus($index, 1)" ng-if="!t.loading && t.status == 0 && t.task.type==1"><i class="fa fa-check"></i></a>&nbsp;
                          <a href="" ng-click="changeStatus($index, 0)" ng-if="!t.loading && t.status == 1 && t.task.type==1"><i class="fa fa-times"></i></a>&nbsp;
                          <a href="" ng-click="deleteTaskSponzor($index)" ng-if="!t.loading && t.task.type==1"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>