<div layout-fill class="allContainer">
  <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>
  <md-content class="superContainer" layout="row">
    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenav.html'" ng-controller="SidenavController"></div>
    <div class="cont" flex>
      <div class="menuItems md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <div class="menuItemContainer" layout="row">
        </div>
        <div class="buttons" layout="row" layout-align="start center">
          <a href="#sponzors/notifications">
            <md-icon aria-label="b">notifications</md-icon>
          </a>
          <a href="" class="md-icon-button">
            <md-icon aria-label="b">send</md-icon>
          </a>
          <a href="" class="md-icon-button">
            <md-icon aria-label="b">person</md-icon>
          </a>
        </div>
      </div>
      <!-- Content starts -->
      <div class="contentContainer" flex>
        <div class="notifyDetailContainer" layout="column">
          <a href="#/sponzors/tasks/create" class="addTask" layout="row" layout-align="start center">
            <md-button class="md-fab">
              <md-icon>add</md-icon>
            </md-button>
            <p translate>tasks.add</p>
          </a>
          <div class="eventTitles" layout="row" hide-xs>
            <div layout="row" flex="100">
              <p flex="50" layout="row" layout-align="center center">{{'tasks.event'|translate}} / {{'tasks.taskTitle'|translate}}</p>
              <p flex="25" layout="row" layout-align="center center" translate hide-xs hide-sm>tasks.owner</p>
              <p flex="25" layout="row" layout-align="center center" translate>tasks.status</p>
            </div>
          </div>
          <div class="eventItem tasks" layout="column" layout-gt-xs="row" ng-repeat="item in tasks">
            <a class="eventInfo" href="#/sponzors/task/{{$index}}" layout="row" flex="100">
              <div class="taskIcon" flex="5" flex-xs="10" layout="row" layout-align="start center">
                <md-icon ng-if="item.status == 0">timer</md-icon>
                <md-icon ng-if="item.status == 1">done_all</md-icon>
              </div>
              <div class="eventTitle" flex="50" flex-xs="60" flex-sm="70" layout="column" layout-align="center start">
                <div>
                  <span class="taskSubtitle" translate>{{'tasks.event'|translate}}:</span>
                  <span>{{item.event.title}}</span>
                </div>
                <div>
                  <span class="taskSubtitle" translate>{{'tasks.task'|translate}}:</span>
                  <span>{{item.task.title}}</span>
                </div>
              </div>
              <p class="eventSponzorType" flex="25" layout="row" layout-align="center center" flex-xs="30" flex-sm="30" ng-if="item.task.type == 1" translate hide-xs hide-sm>tasks.you</p>
              <p class="eventSponzorType" flex="25" layout="row" layout-align="center center" flex-xs="30" flex-sm="30" ng-if="item.task.type == 0" translate hide-xs hide-sm>tasks.organizer</p>
              <p class="eventStatus" flex="25" layout="row" layout-align="center center">
                {{'tasks.status'+item.status|translate}}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </md-content>
  <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>
