<div class="{{tolsctive}}" id="page-wrapper" ng-class="{'active': toggle}">
  <div ng-include="menuprincipal"></div>
  <div id="content-wrapper">
    <div class="page-content">
      <div class="row header" ng-include src="'views/organizers/dashboard/header.html'"></div>
      <!-- -->
      <div class="row">
        <div class="col-xs-12">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-plus"></i>{{ 'editEvent' | translate }}
              <div class="clearfix"></div>
            </div>
            <br/>
            <form class="form-horizontal" name="eventEditForm" role="form">
              <!--form field-->
              <div class="form-group" id="title">
                <label class="col-sm-4 control-label" for="label">
                  {{ 'neweventtitle' | translate }}
                </label>
                <div class="col-sm-7">
                  <input class="form-control" name="title" data-ng-model="eventData.title" placeholder="{{'neweventtitledescription'| translate}}" required type="text"/>
                </div>
                <br/>
                <br/>
              </div>
              <!--form field-->
              <div class="form-group" id="location">
                <label class="col-sm-4 control-label" for="label">
                  {{ 'neweventlocation' | translate }}
                </label>
                <div class="col-sm-7">
                  <input class="form-control" g-places-autocomplete name="location" data-ng-model="locationEvent" ng-init="locationEvent = eventData.location" placeholder="{{'neweventlocationdescription' | translate }}" required type="text" autocomplete="off"/>
                </div>
              </div>

              <!--form field-->
              <div class="form-group" id="description">
                <label class="col-sm-4 control-label" for="label">
                  {{ 'neweventdescription' | translate }}
                </label>
                <div class="col-sm-7">
                  <div text-angular data-ng-model="eventData.description"></div>
                </div>
              </div>
              <!--form field-->
              <div class="form-group" id="starts">
                <label class="col-sm-4 control-label" for="label">
                  {{ 'neweventstarts' | translate }}
                </label>
                <div class="col-sm-7">
                  <datetimepicker date-options="dateOptions" data-ng-model="eventData.starts" show-meridian="false"></datetimepicker>
                </div>
              </div>
              <div class="form-group" id="ends">
                <label class="col-sm-4 control-label" for="label">
                  {{ 'neweventends' | translate }}
                </label>
                <div class="col-sm-7">
                  <datetimepicker date-options="dateOptions" min-date="eventData.starts" data-ng-model="eventData.ends" show-meridian="false"></datetimepicker>
                  <input data-ng-model="eventData.organizer" name="organizer" type="hidden"/>
                </div>
              </div>
              <!--form field-->
              <div class="form-group" id="public">
                <div class="col-sm-4 control-label">
                  <input id="privacy0" name="privacy" data-ng-model="eventData.privacy" type="radio" value="0"/>
                </div>
                <label class="col-sm-7" for="privacy0">
                  <strong>{{ 'privacyoption0' | translate }}
                    :
                  </strong>

                  {{ 'privacydescription0' | translate }}
                </label>

                <div class="col-sm-4 control-label">
                  <input id="privacy1" name="privacy" data-ng-model="eventData.privacy" type="radio" value="1"/>
                </div>

                <label class="col-sm-7" for="privacy1">
                  <strong>{{ 'privacyoption1' | translate }}
                    :
                  </strong>

                  {{ 'privacydescription1' | translate }}</label>
              </div>
              <!--form field-->
              <div class="form-group" id="type">
                <label class="col-sm-4 control-label" for="label">
                  {{ 'neweventtype' | translate }}
                </label>
                <div class="col-sm-7">
                  <select class="form-control" name="type" data-ng-model="eventData.type">
                    <option data-ng-repeat="t in typefilter" data-ng-value="t.id" ng-if="t.id!=eventData.type">
                      {{t.name}}
                    </option>
                    <option data-ng-repeat="t in typefilter" data-ng-value="t.id" ng-if="t.id==eventData.type" selected="selected">
                      {{t.name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group" id="category">
                <label class="col-sm-4 control-label" for="label">
                  {{ 'neweventcategory' | translate }}
                </label>
                <div class="col-sm-7">
                  <select class="form-control" name="type" data-ng-model="eventData.category">
                    <option data-ng-repeat="c in categoriasfilter" data-ng-value="c.id" ng-if="c.id!=eventData.category && c.id!=''">
                      {{c.title}}
                    </option>
                    <option data-ng-repeat="c in categoriasfilter" data-ng-value="c.id" ng-if="c.id==eventData.category" selected="selected">
                      {{c.title}}
                    </option>
                  </select>
                </div>
              </div>
              <hr/>
              <!--form field-->
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <th class="text-center">
                      {{ 'typesponzor' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'quantitysponzor' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'pricesponzor' | translate }}
                    </th>
                    <th class="text-center">
                      {{ 'actionssponzor' | translate }}
                    </th>
                  </thead>
                  <tr data-ng-show="eventData.perks.length" ng-repeat="s in eventData.perks">
                    <td class="text-center">
                      <input class="form-control" data-ng-model="s.kind" placeholder="" type="text"/>
                    </td>
                    <td class="text-center">
                      <input class="form-control" data-ng-model="s.total_quantity" placeholder="" type="text"/>
                    </td>
                    <td class="text-center">
                      <input class="form-control" data-ng-model="s.usd" placeholder="" ng-keyup="verifyPerkLimit(s)" type="text"/>
                      <input class="form-control" ng-if="s.id" data-ng-model="s.id" placeholder="" type="hidden"/>
                      <input class="form-control" ng-if="!s.id" ng-init="s.id=-1" data-ng-model="s.id" placeholder="" type="hidden"/>
                    </td>
                    <td class="text-center" ng-if="s.id==-1">
                      <a href="" ng-click="removePerk($index)">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-block btn-warning" ng-click="addPerk()">
                  + Add</button>
              </div>
              <div class="clearfix"></div>
              <hr/>
              <!--form field-->
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                  <button class="btn btn-block btn-primary" ng-click="eventEditForm.$valid && doEditEvent(eventData.id) && closeThisDialog()">{{ 'submitbutton' | translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script id="successEditingEvent" type="text/ng-template">
      <div class="dialog-container">
        <img class="image-100 image-center" src="images/success.jpg" width="100px"/>
        <p>{{ 'eventEditedSuccesfully' | translate }}</p>
        <hr/>
      </div>
    </script>
    <script id="loading" type="text/ng-template">
      <p>{{'loading' | translate}}</p>
      <div class="dialog-container text-center">
        <rd-loading></rd-loading>
      </div>
    </script>
