<div class="{{tolsctive}}" id="page-wrapper" ng-class="{'active': toggle}">
  <div ng-include="menuprincipal"></div>
  <div id="content-wrapper">
    <div class="page-content">
      <div class="row header" ng-include src="'views/organizers/dashboard/header.html'"></div>
      <!-- -->
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-tasks"></i>
              {{ 'events' | translate }}
              <a class="pull-right" href="#/organizers/add/event">{{ 'add_event' | translate }}</a>
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <th class="text-center">{{ 'neweventtitle' | translate }}</th>
                    <th class="text-center">{{ 'neweventlocation' | translate }}</th>
                    <th class="text-center">{{ 'neweventstarts' | translate }}</th>
                    <th class="text-center">{{ 'eventprivacy' | translate }}</th>
                    <th class="text-center">
                      {{ 'actionssponzor' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr ng-show="loadingEvents && !noEventsMessage">
                      <td class="text-center" colspan="5">
                        <rd-loading></rd-loading>
                      </td>
                    </tr>
                    <tr ng-show="!loadingEvents && noEventsMessage">
                      <td class="text-center" colspan="3">
                        <h2 class="text-center">{{'noPerksMessage'| translate}}</h2>
                      </td>
                    </tr>
                    <tr data-ng-class="{success : event.current === e.id}" data-ng-repeat="e in eventos" ng-show="!loadingEvents && !noEventsMessage" ng-show="!loadingevents" data-ng-click="event.current = e.id" class="row-hover">
                      <td class="text-center">{{ e.title }}</td>
                      <td class="text-center" style="width:20%">{{ e.location }}</td>
                      <td class="text-center">{{ e.starts  | momentFormater}}</td>
                      <td class="text-center" ng-if="e.privacy==0">{{ 'public'| translate }}</td>
                      <td class="text-center" ng-if="e.privacy==1">{{ 'private'| translate }}</td>
                      <td class="text-center">
                        <a href="" ng-click="imageEvent(e.image)"><i class="fa fa-file-image-o"></i></a>
                        <a href="#/event/{{ e.id }}" target="_blank">
                          <i class="fa fa-arrows-alt"></i></a>
                          <a href="#/organizers/edit/event/{{ e.id }}"><i class="fa fa-edit"></i></a>
                          <a href="" ng-click="removeEvent(e.id)">
                          <i class="fa fa-trash-o"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-trophy"></i>
              {{ 'peak' | translate }}
              <div class="clearfix"></div>
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">{{ 'kind' | translate }}</th>
                      <th class="text-center">{{ 'quantity' | translate }}</th>
                      <th class="text-center">${{ 'usd' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="loadingPerks && !noPerksMessage">
                      <td class="text-center" colspan="3">
                        <rd-loading></rd-loading>
                      </td>
                    </tr>
                    <tr ng-show="!loadingPerks && noPerksMessage">
                      <td class="text-center" colspan="3">
                        <h2 class="text-center">{{'noPerksMessage'| translate}}</h2>
                      </td>
                    </tr>
                    <tr data-ng-class="{success : currentPerkId === p.id}" ng-repeat="p in peaks" ng-show="!loadingPerks && !noPerksMessage" ng-click="getPerk(p.id)" class="row-hover">
                      <td class="text-center">{{ p.kind}}</td>
                      <td class="text-center">{{ p.total_quantity }}</td>
                      <td class="text-center">{{ p.usd }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      <div class="col-lg-6">
        <div class="widget">
          <div class="widget-header">
            <i class="fa fa-trophy"></i>
            {{ 'Tasks' | translate }}
            <a class="pull-right" href="" ng-click="showTaskForm(currentPerkId,event.current)" ng-if="!loadingPerks && !noPerksMessage">{{ 'add_task' | translate }}</a>
            <div class="clearfix"></div>
          </div>
          <div class="widget-body medium no-padding">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">{{ 'title' | translate }}</th>
                    <th class="text-center">{{ 'description' | translate }}</th>
                    <th class="text-center">{{ 'actions' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="loadingtasks && !noTasksMessage">
                    <td class="text-center" colspan="5">
                      <rd-loading></rd-loading>
                    </td>
                  </tr>
                  <tr ng-show="!loadingtasks && noTasksMessage">
                    <td class="text-center" colspan="3">
                      <h2 class="text-center">{{'noTasksMessage'| translate}}</h2>
                    </td>
                  </tr>
                  <tr ng-repeat="t in currentPerk.Tasks" ng-show="!loadingtasks && !noTasksMessage">
                    <td class="text-center">{{ t.title}}</td>
                    <td class="text-center">{{ t.description }}</td>
                    <td class="text-center">
                      <a href="" ng-click="removeTask(t.id)">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="successDeletingEvent" type="text/ng-template">
  <div class="dialog-container">
    <img class="image-100 image-center" src="images/success.jpg" width="100px"/>
    <p>{{ 'eventDeleteSuccesfully' | translate }}</p>
    <hr/>
  </div>
</script>
<script id="errorDeletingEvent" type="text/ng-template">
  <div class="dialog-container">
    <img class="image-100 image-center" src="images/warning.png" width="100px"/>
    <p>{{ 'errorDeletingEvent' | translate }}</p>
    <hr/>
  </div>
</script>
