<div class="col-xs-12">
  <div class="user pull-right">
    <div class="item dropdown" dropdown="" is-open="status.isopen">
      <input type="hidden" ng-model="event.organizer" class="ng-pristine ng-untouched ng-valid">
      <a href="" class="dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
        <input type="hidden" data-ng-init="viewUserInfoheader()">
        <img ng-if="$storage.image" data-ng-src="{{$storage.image}}" style="border-radius:50%;" >
        <img ng-if="!$storage.image" data-ng-src="http://www.sponzor.me/images/photo.png" style="border-radius:50%;" />
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li class="dropdown-header">{{$storage.email}}</li>
        <li class="divider"></li>
        <li class="link">
          <a href="#/organizers/settings">{{ 'settings' | translate }}</a>
        </li>
        <li class="divider"></li>
        <li class="link">
          <a href="#/logout">{{ 'logout' | translate }}</a>
        </li>
      </ul>
    </div>
    <div ng-controller="NotificationController" class="item dropdown" dropdown="" is-open="status.isopens">
      <a href="" class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
        <section class="numalert" ng-if="help">{{help}}</section>
        <i class="fa fa-bell-o"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" >
        <div ng-repeat="n in notifications" ng-if="help">
          <li class="" style="padding:0 0.5em 0 0.5em;">
            <p style="text-align:justify">{{n.text}} <a style="display: inline-block !important; color:red !important;" href="" ng-click="notifications.$remove(n)">x</a> </p></li>
          <li class="divider"></li>
        </div>
        <div ng-if="!help">
          <li class="" style="padding:0 0.5em 0 0.5em;">
            <p style="text-align:center">{{'noNewNotifications'|translate}}</p></li>
          <li class="divider"></li>
        </div>
      </ul>
    </div>
  </div>
  <div class="meta">
    <div class="page" id="step2">{{ 'dashboard' | translate }}</div>
    <div class="breadcrumb-links">{{ 'home' | translate }} / {{ 'dashboard' | translate }}</div>
  </div>
</div>
