<div id="page-wrapper" ng-class="{'active': toggle}" class="{{tolsctive}}">
  <div ng-include="menuprincipal"></div>
  <div id="content-wrapper">
    <div class="page-content">
      <div class="row header" ng-include src="'views/organizers/dashboard/header.html'"></div>
        <section ng-init="event.organizer = 42"></section>
        <div class="row" ng-model="event.organizer" >
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="widget-icon green pull-left">
                  <i class="fa fa-users"></i>
                </div>
                <div class="widget-content pull-left">
                  <div class="title">{{sponzors.size}}</div>
                  <div class="comment">{{ 'sponzors' | translate }}</div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="widget-icon red pull-left">
                  <i class="fa fa-tasks"></i>
                </div>
                <div class="widget-content pull-left">
                  <div class="title" >{{eventos.size}}</div>
                  <div class="comment">{{ 'events' | translate }}</div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="widget-icon orange pull-left">
                  <i class="fa fa-sitemap"></i>
                </div>
                <div class="widget-content pull-left">
                  <div class="title">${{sponzors.balance}}</div>
                  <div class="comment">{{ 'balance' | translate }}</div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="spacer visible-xs"></div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="widget-icon blue pull-left">
                  <i class="fa fa-support"></i>
                </div>
                <div class="widget-content pull-left">
                  <div class="title">{{users.size}}</div>
                  <div class="comment">{{ 'comunity' | translate }}</div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="widget">
              <div class="widget-header">
                <i class="fa fa-tasks"></i> {{ 'events' | translate }}
                <a href="#/users/events" class="pull-right">{{ 'manage' | translate }}</a>
              </div>
              <div class="widget-body medium no-padding">
                <div class="table-responsive">
                  <table class="table table-striped table-center">
                  <thead>
                    <tr>
                      <th class="text-center">{{ 'title' | translate }}</th>
                      <th class="text-center">{{ 'location' | translate }}</th>
                      <th class="text-center">{{ 'starts' | translate }}</th>
                      <th class="text-center">{{ 'perks' | translate }}</th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr ng-show="loadingevents">
                        <td colspan="4">
                          <rd-loading></rd-loading>
                        </td>
                      </tr>
                      <tr data-ng-repeat="e in events" data-ng-class="{success : event.current === e.id}" ng-show="!loadingevents">
                        <td class="text-center">{{ e.title }}</td>
                        <td class="text-center">{{ e.location }}</td>
                        <td class="text-center">{{ e.starts | moment}}</td>
                        <td class="text-center">
                          <span class="text-success">
                          <a href="" data-ng-click="event.current = e.id"><i class="fa fa-trophy" ng-show="event.current === e.id"></i></a></span>
                          <span class="text-success">
                          <a href="" data-ng-click="event.current = e.id"><i class="fa fa-trophy text-danger" ng-show="event.current != e.id"></i></a></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="widget">
              <div class="widget-header">
                <i class="fa fa-trophy"></i> {{ 'peak' | translate }}
                <div class="clearfix"></div>
              </div>
              <div class="widget-body medium no-padding">
                <div class="table-responsive">
                  <table class="table table-striped table-center" >
                    <thead>
                      <tr>
                        <th class="text-center">{{ 'kind' | translate }}</th>
                        <th class="text-center">{{ 'quantity' | translate }}</th>
                        <th class="text-center">${{ 'usd' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-show="loadingpeaks && !noPerksMessage">
                        <td colspan="3">
                          <rd-loading></rd-loading>
                        </td>
                      </tr>
                      <tr ng-show="!loadingpeaks && noPerksMessage">
                        <td colspan="3" class="text-center">
                          <h2 class="text-center">{{'noPerksMessage'| translate}}</h2>
                        </td>
                      </tr>
                      <tr ng-show="!loadingpeaks && !noPerksMessage" ng-repeat="p in peaks">
                        <td class="text-center">{{ p.kind}}</td>
                        <td class="text-center">{{ p.total_quantity }}</td>
                        <td class="text-center">{{ p.usd }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="widget">
              <div class="widget-header">
                <i class="fa fa-plus"></i> {{ 'suggestions' | translate }}
                <dir-pagination-controls class="pull-right"></dir-pagination-controls>
                <div class="clearfix"></div>
              </div>
              <div class="widget-body" style="min-height:200px;">
                <div ng-show="loadingrss">
                  <rd-loading></rd-loading>
                </div>
                <div ng-show="noRssMessage">
                  <h1>{{ 'noRssMessage' | translate }}</h1>
                </div>
                <div class="message" dir-paginate="r in rss | itemsPerPage: 3" ng-show="!loadingrss">
                  <h2 class="suggh1">{{ r.title }}</h2>
                  <p>{{r.contentSnippet}}<p>
                  <a href="{{ r.link }}" target="_blank">{{ 'seemore' | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
