<div layout-fill class="allContainer">

 <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>

  <md-content class="superContainer" layout="row">

    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenavOrg.html'" ng-controller="SidenavController"></div>

    <div class="cont" flex>

    <!-- navbar -->
      <!-- show-gt-xs don't work ¿? -->
      <div class="menuItems menuItemsOrganizer md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <div class="menuItemContainer" layout="row">
          <div class="menuItem">
            <a href="#/organizers/dashboard" md-ink-ripple translate>organizersMain.events</a>
            <div class="border"></div>
          </div>
          <div class="menuItem">
            <a href="#/organizers/outstanding" class="textActive" md-ink-ripple translate>organizersMain.sponsors</a>
            <div class="border active"></div>
          </div>
          <div class="menuItem">
            <a href="#/organizers/outstanding" md-ink-ripple translate>organizersMain.balance</a>
            <div class="border"></div>
          </div>
          <div class="menuItem">
            <a href="#/organizers/outstanding" md-ink-ripple translate>organizersMain.community</a>
            <div class="border"></div>
          </div>
        </div>
        <div class="buttons" layout="row" layout-align="start center">
          <a href="#organizers/notifications">
            <md-icon aria-label="b">notifications</md-icon>
          </a>
          <a href="" class="md-icon-button">
            <md-icon aria-label="b">favorite</md-icon>
          </a>
           <a href="" class="md-icon-button">
            <md-icon aria-label="b">person</md-icon>
          </a>
        </div>
      </div>

    <!-- navbar ("menu") when xs -->
      <div class="menuXsContainer">
        <md-menu hide-gt-sm>
          <md-button class="md-fab" aria-label="b" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon>person</md-icon>
          </md-button>
          <md-menu-content class="menuXsItems" width="2" layout="column" layout-align="center start">
            <md-menu-item class="menuXsItem">
              <a href="#/organizers/dashboard" md-ink-ripple translate>sponzorsMain.searchEvents</a>
            </md-menu-item>
            <md-menu-item class="menuXsItem active">
              <a href="#/organizers/outstanding" md-ink-ripple translate>sponzorsMain.highlightEvents</a>
            </md-menu-item>
            <md-menu-item class="menuXsItem">
              <a href="#/organizers/notifications" md-ink-ripple translate>sponzorsMain.notifications</a>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

    <!-- Content starts -->

    <div class="contentContainer">
      <div class="notifyDetailContainer" layout="column">
          <div class="eventTitles" layout="row" hide show-lg flex="100">
            <div layout="row" flex="70">
              <p flex="30" layout="row" layout-align="center center" translate>nombre</p>
              <p flex="30" layout="row" layout-align="center center" translate>evento</p>
              <p flex="20" layout="row" layout-align="center center" translate>tipo de patrocinio</p>
              <p flex="20" layout="row" layout-align="center center" translate>estado</p>
            </div>
            <p layout="row" layout-align="center center" flex="30" translate>sponzorsSponzorships.actions</p>
          </div>
          <div class="eventItem organizerSponzors" layout="column" layout-gt-xs="row" ng-repeat="item in sponzorship" flex="100">
            <a class="eventInfo" href="#/sponzors/sponzoring/{{$index}}" layout="row" layout-align="start" flex="70">
              <p class="eventTitle sponzorOrganizer" flex="30" layout="row" layout-align="center center" translate>{{item.name}}</p>
              <p class="eventDate" flex="30" layout="row" layout-align="start center">{{item.event}}</p>
              <p class="eventSponzorType" flex="20" layout="row" layout-align="center center" translate>{{item.perk}}</p>
              <p class="eventStatus" flex="20" layout="row" layout-align="center center" translate>
                {{item.status}}
              </p>
            </a>
            <div class="actionSponzor" layout="row" layout-align="center center" flex="30">
              <a href="">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.wait'|translate}}
                </md-tooltip>
                <md-icon>timer</md-icon>
              </a>
              <a href="" ng-click="doPayment(item)">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.doPayment'|translate}}
                </md-tooltip>
                <md-icon>payment</md-icon>
              </a>
              <a href="" ng-click="doPayment()">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.paid'|translate}}
                </md-tooltip>
                <md-icon><i class="material-icons">verified_user</i></md-icon>
              </a>
              <a href="" ng-click="doPayment()">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.verifyingPayment'|translate}}
                </md-tooltip>
                <md-icon><i class="material-icons"><i class="material-icons">settings_backup_restore</i></i></md-icon>
              </a>
              <a href="" ng-click="downloadCalendar(item)">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.addToCalendar'|translate}}
                </md-tooltip>
                <md-icon>event</md-icon>
              </a>
              <a href="" ng-click="seeCause(item)">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.seeCause'|translate}}
                </md-tooltip>
                <md-icon>help</md-icon>
              </a>
              <a href="#/sponzors/chat/sponzorship/{{$index}}">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.chatWithOrganizer'|translate}}
                </md-tooltip>
                <md-icon>comment</md-icon>
              </a>
              <a href="" ng-if="item.rated_sponzor == 0">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.rateOrganizer'|translate}}
                </md-tooltip>
                <md-icon>stars</md-icon>
              </a>
              <a href="" ng-if="item.rated_sponzor == 1">
                <md-tooltip md-direction="bottom">
                  {{'sponzorsSponzorships.ratedOrganizer'|translate}}
                </md-tooltip>
                <md-icon>playlist_add_check</md-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-content>
  <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>
