<!--Template asociado a los sponzors-->
<div class="{{tolsctive}}" id="page-wrapper" ng-class="{'active': toggle}">
  <div ng-include="menuprincipal"></div>
  <div id="content-wrapper">
    <div class="page-content">
      <div class="row header">
        <div class="row header" ng-include src="'views/organizers/dashboard/header.html'"></div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-tasks"></i>
              {{ 'sponzors' | translate }}
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">{{ 'name' | translate }}</th>
                      <th class="text-center">{{ 'email' | translate }}</th>
                      <th class="text-center">{{ 'eventtitle' | translate }}</th>
                      <th class="text-center">{{ 'sponzoring' | translate }}
                        type</th>
                      <th class="text-center">{{ 'status' | translate }}</th>
                      <th class="text-center">{{ 'actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="loadingsponzorships && !noSponzorshipsMessage">
                      <td colspan="6">
                        <rd-loading></rd-loading>
                      </td>
                    </tr>
                    <tr ng-show="!loadingsponzorships && noSponzorshipsMessage">
                      <td class="text-center" colspan="6">
                        <h2 class="text-center">{{'noSponzorshipsMessage'| translate}}</h2>
                      </td>
                    </tr>
                    <tr data-ng-class="{success : sponzorships.current === s.id}" data-ng-repeat="s in sponzorships" ng-show="!loadingsponzorships && !noSponzorshipsMessage">
                      <td class="text-center">{{s.name}}</td>
                      <td class="text-center">{{s.email}}</td>
                      <td class="text-center">{{s.title}}</td>
                      <td class="text-center">{{s.kind}}</td>
                      <td class="text-center">
                        <div ng-if="s.status == 0">{{ 'eventstate0' | translate }}</div>
                        <div ng-if="s.status == 1">{{ 'eventstate1' | translate }}</div>
                        <div ng-if="s.status > 1">{{ 'eventstate3' | translate }}</div>
                      </td>
                      <td class="text-center">
                        <a href="" ng-click="seeCause(s)">
                          <i class="fa fa-question-circle"></i>
                        </a>
                        <div style="display: inline-block">
                          <div ng-if="s.status == 0">
                            <a href="" ng-click="acceptSponzorship(s.id,$index)">
                              <i class="fa fa-star-o"></i>
                            </a>
                          </div>
                          <div ng-if="s.status == 1">
                            <a href="" ng-click="unacceptSponzorship(s.id)">
                              <i class="fa fa-star"></i>
                            </a>
                          </div>
                        </div>
                        <a href="" ng-click="getTaskSponzor(s.id)" ng-if="s.status >= 1">
                          <i class="fa fa-tasks"></i>
                        </a>
                        <a href="" ng-click="deleteSponzorship(s.id)" ng-if="s.status == 0">
                          <i class="fa fa-trash-o"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- A partir de aca se muestran las notas de acuerdo al peak y al sponzor seleccionado -->
        <div class="row">
          <div class="col-lg-12">
            <div class="widget">
              <div class="widget-header">
                <i class="fa fa-plus"></i>{{ 'todosList' | translate }}
                <div class="clearfix"></div>
              </div>
              <div class="widget-body medium no-padding">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <th>{{ 'todoTitle' | translate }}</th>
                      <th>{{ 'todoDescription' | translate }}</th>
                      <th>{{ 'todoOwner' | translate }}</th>
                      <th>{{ 'todoStatus' | translate }}</th>
                      <th>{{ 'actions' | translate }}</th>
                    </thead>
                    <tbody>
                      <tr ng-show="loadingsponzorshipstasks && !noSponzorshipsTaskMessage">
                        <td colspan="5">
                          <rd-loading></rd-loading>
                        </td>
                      </tr>
                      <tr ng-show="!loadingsponzorshipstasks && noSponzorshipsTaskMessage">
                        <td class="text-center" colspan="5">
                          <h2 class="text-center">{{'noSponzorshipsTaskMessage'| translate}}</h2>
                        </td>
                      </tr>
                      <tr data-ng-repeat="t in tasksSponzor" ng-class="{success: t.status === 1, warning: t.status === 0}" ng-show="!loadingsponzorshipstasks && !noSponzorshipsTaskMessage" ng-show="!loadingtodo">
                        <td>{{ t.title }}</td>
                        <td>{{ t.description }}</td>
                        <td>
                          <div ng-if="t.type == 0">{{ 'You' | translate }}</div>
                          <div ng-if="t.type == 1">{{ 'Sponzor' | translate }}</div>
                        </td>
                        <td>
                          <div ng-if="t.status == 0">{{ 'taskNoCompleted' | translate }}</div>
                          <div ng-if="t.status == 1">{{ 'taskCompleted' | translate }}</div>
                        </td>
                        <td>
                          <span class="text-success">
                            <a href="" ng-click="completeTask(t.id)" ng-if="t.status == 0 && t.type==0">
                              <i class="fa fa-check"></i>
                            </a>
                            <a href="" ng-click="uncompleteTask(t.id)" ng-if="t.status == 1 && t.type==0">
                              <i class="fa fa-times"></i>
                            </a>
                            <span ng-if="t.type==1">{{ 'waitUnitlSponzorComplete' | translate }}</span>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
