<md-sidenav class="sidenavContainer" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" flex="nogrow">
  <div class="sidenav2" layout="column">
    <div class="text-container md-whiteframe-1dp md-cornered" layout="row">
      <a href="#/sponzors/dashboard" md-ink-ripple layout="row" layout-align="center center">
       <div layout="row" layout-align="center center" flex>
          <md-icon aria-label="b">reorder</md-icon>
       </div>
       <p href="#/sponzors/dashboard" translate layout="row" layout-align="start center" flex="70" translate>sidenav.sponzorDashboard</p>
      </a>
    </div>
    <div class="sidenavButtons" layout="column">

      <div class="buttContainer" ng-class="{active : dashboard('sponzors')}" md-ink-ripple="#f09200" layout="row">
        <a href="#/sponzors/dashboard" class="sidenavButton" layout="row">
            <md-icon aria-label="b">view_quilt</md-icon>
            <a href="#/sponzors/dashboard"><h3 translate>sidenav.dashboard</h3></a>
        </a>
      </div>
      <div class="buttContainer" ng-class="{active : sponzoring('sponzors')}" md-ink-ripple="#f09200" layout="row">
        <a href="#/sponzors/sponzoring" class="sidenavButton" layout="row" layout-align="start center">
            <md-icon aria-label="b">thumb_up</md-icon>
            <a href="#/sponzors/sponzoring"><h3 translate>sidenav.sponzoring</h3></a>
        </a>
      </div>
      <div class="buttContainer" ng-class="{active : tasks('sponzors')}" md-ink-ripple="#f09200" layout="row">
        <a href="" class="sidenavButton" layout="row">
            <md-icon aria-label="b">description</md-icon>
            <a href="#/sponzors/tasks"><h3 translate>sidenav.tasks</h3></a>
        </a>
      </div>
      <div class="buttContainer" ng-class="{active : notifications('sponzors')}" md-ink-ripple="#f09200" layout="row">
        <a href="#/sponzors/notifications" class="sidenavButton" layout="row">
            <md-icon aria-label="b">notifications</md-icon>
            <a href="#/sponzors/notifications"><h3 translate>sidenav.notifications</h3></a>
        </a>
      </div>
      <div class="buttContainer" ng-class="{active : settings('sponzors')}" md-ink-ripple="#f09200" layout="row">
        <a href="#/sponzors/settings/profile" class="sidenavButton" layout="row" layout-align="start center">
            <md-icon aria-label="b">settings</md-icon>
            <a href="#/sponzors/settings/profile"><h3 translate>sidenav.settings</h3></a>
        </a>
      </div>
    </div>
  </div>
</md-sidenav>

<md-button class="sidenavToggle md-fab" aria-label="b" ng-click="openSidenavLeft()" ng-hide="isOpenLeft()" hide-gt-md>
  <md-icon>reorder</md-icon>
</md-button>
