<div layout-fill class="allContainer">

  <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>

  <md-content class="superContainer" layout="row">

    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenavOrg.html'" ng-controller="SidenavController"></div>

    <div class="cont" flex>
      <div class="menuItems menuItemsOrganizer md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <head-nav active="dashboard"></head-nav>
        <organizers-navbar></organizers-navbar>
      </div>
      <responsive-nav></responsive-nav>

      <div class="contentContainer">
        <div class="counts md-whiteframe-1dp" layout-wrap layout="row" layout-align="space-around center">
          <div flex-gt-xs="25">
            <a href="#" layout="column" layout-align="center center">
              <md-icon class="color-blue-brighter" md-svg-src="images/rocket.svg"></md-icon>
              <p class="color-blue-brighter" translate>organizersMain.sponsors</p>
              <h3>{{omc.user.sponzorships_like_organizer.length}}</h3>
            </a>
          </div>
          <div flex-gt-xs="25">
            <a href="#" layout="column" layout-align="center center">
              <md-icon class="color-blue-brighter">local_activity</md-icon>
              <p class="color-blue-brighter" translate>organizersMain.events</p>
              <h3>{{omc.user.events.length}}</h3>
            </a>
          </div>
          <div flex-gt-xs="25">
            <a href="#" layout="column" layout-align="center center">
              <md-icon class="color-blue-brighter">account_balance</md-icon>
              <p class="color-blue-brighter" translate>organizersMain.balance</p>
              <h3>{{omc.user.balance}}</h3>
            </a>
          </div>
          <div flex-gt-xs="25">
            <a href="#" layout="column" layout-align="center center">
              <md-icon class="color-blue-brighter">people</md-icon>
              <p class="color-blue-brighter" translate>organizersMain.community</p>
              <h3>{{omc.user.comunity_size}}</h3>
            </a>
          </div>
        </div>
        <!-- Filter -->
        <div class="filterOrganizer" layout="row" layout-align="space-between center">
          <md-input-container class="md-block md-accent inputContainer md-whiteframe-1dp " md-no-float md-ink-ripple="false" flex-gt-xs="30" flex="70">
            <md-icon class="filterOrganizer">search</md-icon>
            <input type="text" ng-model="omc.filter" placeholder="{{ 'organizersMain.typeSearchEvent' | translate }}"/>
          </md-input-container>
        </div>

        <!-- Events Results -->
        <div class="eventsContainer">
          <div>
            <md-content class="events md-whiteframe-2dp" layout="row" layout-align="space-around center" layout-padding layout-wrap>
              <div class="createNewEvent" flex="100">
                <div layout="row" layout-align="space-around center" flex-gt-xs="40">
                  <a href="#/organizers/add/event" layout="row" layout-align="start center">
                    <md-button class="md-icon-button">
                      <md-icon>add</md-icon>
                    </md-button>
                    <p flex-xs="50" translate>organizersMain.addNewEvent</p>
                  </a>
                  <a href="#" layout-align="start center">
                    <p flex-xs="40">historial</p>
                  </a>
                </div>
              </div>
              <div class="event md-whiteframe-2dp" ng-repeat="event in omc.user.events | filter: omc.filter" flex-gt-sm="30">
                <div class="eventImage organizerEventImage" layout="column" layout-align="center center">
                  <img ng-src="{{event.image}}" alt="event">
                  <p>{{event.title}}</p>
                </div>
                <div class="textContainer">
                  <h2>{{event.starts|date:'MMM dd, yyyy h:mma'}}</h2>
                  <md-divider></md-divider>
                  <p>
                    {{event.description|limitTo:100}}
                  </p>
                </div>
                <md-menu>
                  <md-button class="md-fab md-mini iconMenu" ng-click="omc.openMenu($mdOpenMenu, $event)">
                    <md-icon aria-label="b">add</md-icon>
                  </md-button>
                  <md-menu-content class="menuContent" width="4">
                    <md-menu-item class="searchMenuItemOrganizers" layout="row" layout-align="center center">
                      <md-button>
                        <md-icon aria-label="b">mode_edit</md-icon>
                        <a href="#/organizers/event/{{$index}}" translate>organizersMain.editEvent</a>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item class="searchMenuItemOrganizers" layout="row" layout-align="center center">
                      <md-button>
                        <md-icon aria-label="b">share</md-icon>
                        <a href="" ng-click="omc.shareEvent($index)" translate>organizersMain.shareEvent</a>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item class="searchMenuItemOrganizers" layout="row" layout-align="center center">
                      <md-button>
                        <md-icon aria-label="b">assignment</md-icon>
                        <a href="#/organizers/event/tasks/{{$index}}" translate>organizersMain.seeTasks</a>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item class="searchMenuItemOrganizers" layout="row" layout-align="center center">
                      <md-button>
                        <md-icon aria-label="b">delete</md-icon>
                        <a href="" ng-click="omc.deleteEvent($index)" translate>organizersMain.deleteEvent</a>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </md-content>
          </div>
        </div>
      </div>
    </div>
  </md-content>
  <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>
