<div layout-fill class="allContainer">
  <!-- navbar 1 -->
  <div ng-include src="'./components/navbar/navbar.html'"></div>
  <md-content class="superContainer" layout="row">
    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./components/sidenav/sidenavOrg.html'" ng-controller="SidenavController"></div>
    <div class="cont" flex>
      <!-- navbar -->
      <!-- show-gt-xs don't work ¿? -->
      <div class="menuItems menuItemsOrganizer" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <a href="#/organizers/dashboard" md-ink-ripple>
          <md-icon aria-label="b">reply</md-icon>
        </a>
        <organizers-navbar></organizers-navbar>
      </div>

      <md-content class="chatContainer md-whiteframe-2dp">
        <div>
          <h2>{{occ.sponzorshipInfo.Event.title}}
              {{occ.sponzorshipInfo.Perk.kind}}
              ${{occ.sponzorshipInfo.Perk.usd}}USD
          </h2>
        </div>

        <div class="messagesContainer">
          <div ng-repeat="m in occ.chatMessages| orderBy: - timedate"  flex="100" layout="row">
            <div class="userImage" flex="30" layout-align="center start" layout="column" ng-if=" m.type == '#5DDECF'">
              <div class="imageOrg">
                <img ng-src="{{m.userImage}}" />
                <p>{{m.timedate|date:'medium'}}</p>
              </div>
            </div>
            <div ng-if=" m.type == '#5DDECF'" flex="70" layout-align="end end" layout="column">{{m.text}}</div>

            <div flex="70" ng-if=" m.type == '#F6CECE'" layout-align="end start" layout="column">{{m.text}}</div>
            <div class="userImage" ng-if=" m.type == '#F6CECE'" flex="30" layout-align="center end" layout="column" >
              <div class="imageSpo">
                <img  ng-src="{{m.userImage}}" />
                <p>{{m.timedate|date:'medium'}}</p>
              </div>
            </div>


          </div>
          <md-input-container class="md-icon-right md-block">
            <label translate>chat.writeMessage</label>
            <input ng-model="occ.newMessage.text" type="text">
            <md-icon ng-click="occ.addMessage()">send</md-icon>
          </md-input-container>
        </div>
      </md-content>
    </div>
  </md-content>
  <div ng-include src="'./components/footer/footer.html'"></div>
</div>
