/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

/* General Demo Style */
body {
  font-family: 'Roboto', sans-serif;
  background: #042333;
  font-weight: 400;
  font-size: 15px;
  color: #00adb9;
  overflow-y: scroll;
  overflow-x: hidden; }

.ie7 body {
  overflow: hidden; }

a {
  color: #333;
  text-decoration: none; }

.container {
  position: relative;
  text-align: center; }

.clr {
  clear: both; }

.container > header {
  padding: 30px 30px 10px 20px;
  margin: 0px 20px 10px 20px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: left; }

.container > header h1 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  line-height: 35px;
  position: relative;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0px 0px 5px 0px; }

.container > header h2, p.info {
  font-size: 16px;
  font-style: italic;
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  max-width: 1280px;
  max-width: 80rem;
  margin: 0 auto; }
  .row {
    *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col {
  margin-left: 1.6%; }

.col:first-child {
  margin-left: 0; }

.col_1 {
  width: 6.86667%; }

.col_2 {
  width: 15.33333%; }

.col_3 {
  width: 23.8%; }

.col_4 {
  width: 32.26667%; }

.col_5 {
  width: 40.73333%; }

.col_6 {
  width: 49.2%; }

.col_7 {
  width: 57.66667%; }

.col_8 {
  width: 66.13333%; }

.col_9 {
  width: 74.6%; }

.col_10 {
  width: 83.06667%; }

.col_11 {
  width: 91.53333%; }

.col_12 {
  width: 100%;
  margin-left: 0; }

/* Header Style */
.codrops-top {
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-size: 11px;
  width: 100%;
  background: #00adb9;
  opacity: 0.9;
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  -moz-box-shadow: 1px 0px 2px #000;
  -webkit-box-shadow: 1px 0px 2px #000;
  box-shadow: 1px 0px 2px #000; }

.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #fff;
  display: block;
  float: left; }

.codrops-top a:hover {
  color: #ddd; }

.codrops-top span.right {
  float: right; }

.codrops-top span.right a {
  float: none;
  display: inline; }

p.codrops-demos {
  display: block;
  padding: 15px 0px; }

p.codrops-demos a, p.codrops-demos a.current-demo, p.codrops-demos a.current-demo:hover {
  display: inline-block;
  border: 1px solid #6d0019;
  padding: 4px 10px 3px;
  font-size: 13px;
  line-height: 18px;
  margin: 2px 3px;
  font-weight: 800;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); }

p.codrops-demos a:hover {
  background: #6d0019; }

p.codrops-demos a:active {
  background: #6d0019;
  background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d0019), color-stop(56%, #8f0222), color-stop(100%, #a90329));
  background: -webkit-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: -o-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: -ms-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  background: linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9); }

p.codrops-demos a.current-demo, p.codrops-demos a.current-demo:hover {
  color: #A5727D;
  background: #6d0019; }

/* Media Queries */
@media screen and (max-width: 767px) {
  .container > header {
    text-align: center; }
  p.codrops-demos {
    position: relative;
    top: auto;
    left: auto; } }

.icoprivate {
  font-size: 150px;
  display: inline-block;
  vertical-align: top;
  margin: 65px; }

.contenprivate {
  margin-top: 25px;
  overflow-y: scroll;
  height: 325px;
  display: inline-block;
  vertical-align: top;
  width: 75%; }

#page .navbar {
  background-color: #20222D !important; }

.navbar-header p {
  font-family: Pacifico,cursive;
  font-size: 26px;
  margin-top: 4px;
  color: white;
  text-decoration: none; }

.navbar-header a:hover {
  text-decoration: none; }

.navbar-header p:hover {
  text-decoration: none; }

.btn-primary {
  background: #4C5457 !important;
  border-color: #4C5457; }

.form-signin {
  padding-top: 60px !important; }

.form-createuser {
  padding-top: 60px !important; }

.form-createsponzor {
  padding-top: 60px !important; }

.row {
  max-width: 100%;
  margin: 0; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #20222D;
  color: white;
  padding: 5px;
  padding-top: 10px;
  font-size: 12px;
  height: 38px; }

.footer a {
  color: white;
  text-decoration: none; }

.footer a:hover {
  color: #53B4C4; }

.footer #newlog {
  font-family: Pacifico,cursive;
  font-size: 10px;
  margin-top: 4px;
  color: #fff;
  width: 60px;
  display: inline-block;
  margin-left: 45px; }
