<nav class="navbar bg-white md-whiteframe-2dp">
  <div layout="row" layout-align="space-around center">
    <a href="#/">
      <h1 layout="row" layout-align="start center">
        <span class="color-black">Sponzor</span>
        <span class="color-green">Me</span>  
      </h1>
    </a>   
    <div layout="row" layout-align="center center">
      <a href="#"><img src="../../images/social/social-fb.svg"></a>
      <a href="#"><img src="../../images/social/social-twttr.svg"></a>
      <a href="#"><img src="../../images/social/social-g.svg"></a>
      <a href="#"><img src="../../images/social/social-inst.svg"></a>
    </div>
  </div>
</nav>