<div class="col-xs-12">
  <div class="user pull-right">
    <div class="item dropdown" dropdown="" is-open="status.isopen">
      <input type="hidden" ng-model="event.organizer" class="ng-pristine ng-untouched ng-valid">
      <a href="" class="dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
        <input type="hidden" data-ng-init="viewUserInfoheader()">
        <img data-ng-src="http://www.sponzor.me//images/photo.png" style="border-radius:50%;" src="http://www.sponzor.me//images/photo.png">
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li class="dropdown-header">{{emailuser}}</li>
        <li class="divider"></li>
        <li class="link">
          <a href="#/users/settings">{{ 'settings' | translate }}</a>
        </li>
        <li class="divider"></li>
        <li class="link">
          <a href="#/logout">{{ 'logout' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="item dropdown" dropdown="" is-open="status.isopens">
      <a href="" class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
        <section class="numalert ng-binding ng-hide" ng-show="viewitem">0</section>
        <i class="fa fa-bell-o"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li class="dropdown-header">{{ 'notification' | translate }}</li>
        <li class="divider"></li>
        <section ng-show="!viewitem">Sin Notificaciones</section>
        <ul class="notifications_list">
          <!-- ngRepeat: alertnot in alertsnot -->
        </ul>
      </ul>
    </div>
  </div>
  <div class="meta">
    <div class="page" id="step2">{{ 'dashboard' | translate }}</div>
    <div class="breadcrumb-links">{{ 'home' | translate }} / {{ 'dashboard' | translate }}</div>
  </div>
</div>
