

 <div id="page-wrapper" ng-class="{'active': toggle}" class="active">
    <div ng-include="menuprincipal"></div>
      <div id="content-wrapper">
        <div class="page-content">
          <div class="row header">
            <div class="col-xs-12">
              <div class="user pull-right">
        
                <div class="item dropdown" dropdown="" is-open="status.isopen">
                  <input type="hidden" ng-model="event.organizer" class="ng-pristine ng-untouched ng-valid">  
                  <a href="" class="dropdown-toggle" dropdown-toggle="" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                    <input type="hidden" data-ng-init="viewUserInfoheader()">
                    <img data-ng-src="http://www.sponzor.me//images/photo.png" style="border-radius:50%;" src="http://www.sponzor.me//images/photo.png">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">luisj135@gmail.com</li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="#/settings">{{ 'settings' | translate }}</a>
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                      <a href="http://www.sponzor.me/logout">{{ 'logout' | translate }}</a>
                    </li>
                  </ul>
                </div>
                <div class="item dropdown" dropdown="" is-open="status.isopens">
                  <a href="" class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <section class="numalert ng-binding ng-hide" ng-show="viewitem">0</section>
                    <i class="fa fa-bell-o"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li class="dropdown-header">{{ 'notification' | translate }}</li>
                    <li class="divider"></li>
                    <section ng-show="!viewitem">Sin Notificaciones</section>
                    <ul class="notifications_list">
                      <!-- ngRepeat: alertnot in alertsnot -->
                    </ul>
                  </ul>
                </div>
              </div>
              <div class="meta">
                <div class="page" id="step2">{{ 'dashboard' | translate }}</div>
                <div class="breadcrumb-links">{{ 'home' | translate }} / {{ 'dashboard' | translate }}</div>
              </div>
            </div>
          </div>

        <!--Template asociado a los settings-->
            <div class="row">
              <div class="col-lg-12">
                <div class="widget">
                  <div class="widget-header">
                    <i class="fa fa-plus"></i>{{'editaccount' | translate }}
                    <div class="clearfix"></div>
                  </div>
                  <form class="form-horizontal" role="form" data-ng-controller="settingsController">
                  <!--form field-->
                    <div class="form-group" id="name">
                      <label for="label" class="col-sm-2 control-label">
                        {{'editaccountname' | translate}}
                      </label>
                      <div class="col-sm-5">
                        <input  type="text" data-ng-model="account.name" ng-init= name="name" class="form-control" />
                      </div>
                    </div>
                    <!--form field-->
                    <div class="form-group" id="email">
                      <label for="label" class="col-sm-2 control-label">
                        {{'editaccountemail' | translate}}
                      </label>
                      <div class="col-sm-5">
                        <input  type="text" data-ng-model="account.email" name="email" class="form-control" />
                      </div>
                    </div>
                    <!--form field-->
                    <div class="form-group" id="company">
                      <label for="label" class="col-sm-2 control-label">
                        {{'editaccountcompany' | translate}}
                      </label>
                      <div class="col-sm-5">
                        <input  type="text" data-ng-model="account.company" name="company" class="form-control" />
                      </div>
                    </div>
                    <!--form field-->
                    <div class="form-group" id="age">
                      <label for="label" class="col-sm-2 control-label">
                        {{'editaccountage' | translate}}
                      </label>
                      <div class="col-sm-5">
                        <input  type="number" data-ng-model="account.age" name="age" class="form-control" />
                      </div>
                    </div>            
                    <!--form field-->
                    <div class="form-group" id="sex">
                      <label for="label" class="col-sm-2 control-label">
                        {{'editaccountsex' | translate}}
                      </label>
                      <div class="col-sm-5">
                        <select class="form-control" ng-model="account.sex" name="sex" id="sex">     
                          <option value="" selected>{{'chooseSex' | translate}}</option>
                          <option value="0">{{'woman' | translate}}</option>
                          <option value="1">{{'man' | translate}}</option>
                        </select> 
                      </div>
                    </div>
                    <!--form field-->
                  <div class="form-group" id="location">
                    <label for="label" class="col-sm-2 control-label">
                      {{'editaccountlocation' | translate}}
                    </label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="#location" ng-model="account.location" ng-autocomplete="results2" details="details2" options="options2" name="location" ng-click="details2.reference=undefined; account.location=undefined;"/>
                    </div>
                  </div>
                  <!--form field-->
                    <div class="form-group" id="description">
                      <label for="label" class="col-sm-2 control-label">
                        {{'editaccountdescription' | translate}}
                      </label>
                      <div class="col-sm-5">
                        <textarea rows="5" data-ng-model="account.description" name="description" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-12">
                          <label class="col-sm-2 control-label" for="label">Imagen</label>
                          <div class="col-sm-5">
                            <div style="height:120px; wigth:120px;">
                               <img ng-src="<%account.image%>" style="border-radius:50%; height:120px; wigth:120px;"> 
                            </div>
                            <div style="margin:25px;">
                              <input type="file" id="imageInput" nv-file-select uploader="uploader"/>
                            </div>
                          </div>
                        <div>               
                    </div>
                  <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <hr/>
                    <!--form field-->
                    <div class="form-group">
                      <div class="col-sm-offset-5 col-sm-4 "> 
                        <button data-ng-click="editAccount()" class="btn btn-info">{{'submitbutton' | translate}}</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>      

          <script type="text/ng-template" id="successevent.html">
            <div class="text-center">
              <h3><% event.message %></h3>
            </div>
            <div class="ngdialog-buttons text-center">
              <button class="btn btn-danger" ng-click="closeThisDialog()"><i class="fa fa-times"></i> {{'close' | translate}}</button>
            </div>
        </script>
      </div>
    </div>
  </div>
</div>
