<!--Template asociado a los sponzors-->
<div id="page-wrapper" ng-class="{'active': toggle}" class="active">
  <div ng-include="menuprincipal"></div>
  <div id="content-wrapper">
    <div class="page-content">
      <div class="row header">
        <div class="row header" ng-include src="'views/sponzors/dashboard/header.html'"></div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-tasks"></i> {{ 'sponzorshipsListInSponzor' | translate }}
            </div>
            <div class="widget-body medium no-padding">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">{{ 'name' | translate }}</th>
                      <th class="text-center">{{ 'email' | translate }}</th>
                      <th class="text-center">{{ 'eventtitle' | translate }}</th>
                      <th class="text-center">{{ 'sponzoring' | translate }} type</th>
                      <th class="text-center">{{ 'state' | translate }}</th>
                      <th class="text-center">{{ 'actions' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="loadingsponzorships && !noSponzorshipsMessage">
                      <td colspan="3">
                        <span us-spinner="{radius:15, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span>
                      </td>
                    </tr>
                    <tr ng-show="!loadingsponzorships && noSponzorshipsMessage">
                      <td colspan="3" class="text-center">
                        <h2 class="text-center">{{'noSponzorshipsMessageSponzor'| translate}}</h2>
                      </td>
                    </tr>
                    <tr ng-show="!loadingsponzorships && !noSponzorshipsMessage" data-ng-repeat="s in sponzorships" data-ng-class="{success : sponzorships.current === s.id}">
                      <td class="text-center">{{s.name}}</td>
                      <td class="text-center">{{s.email}}</td>
                      <td class="text-center">{{s.title}}</td>
                      <td class="text-center">{{s.kind}}</td>
                      <td class="text-center">
                        <div ng-if="s.status == 0">{{ 'eventstate0' | translate }}</div>
                        <div ng-if="s.status == 1">{{ 'eventstate1' | translate }}</div>
                      </td>
                      <td class="text-center">
                        <a href="" ng-click="seeCause(s)"><i class="fa fa-question-circle"></i></a>
                        <div style="display: inline-block">
                          <div ng-if="s.status == 0">
                            <a href="" ng-click="acceptSponzorship(s.id)">
                              <i class="fa fa-star-o"></i>
                            </a>
                          </div>
                        </div>
                        <a href="" ng-if="s.status == 1" ng-click="getTaskSponzor(s.id)"><i class="fa fa-tasks"></i></a>
                        <a href="" ng-if="s.status == 0" ng-click="deleteSponzorship(s.id)"><i class="fa fa-trash-o"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- A partir de aca se muestran las notas de acuerdo al peak y al sponzor seleccionado -->
        <div class="row">
          <div class="col-lg-12">
            <div class="widget">
              <div class="widget-header">
                <i class="fa fa-plus"></i>{{ 'todosList' | translate }}
                <div class="clearfix"></div>
              </div>
              <div class="widget-body medium no-padding">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <th>{{ 'todoTitle' | translate }}</th>
                      <th>{{ 'todoDescription' | translate }}</th>
                      <th>{{ 'todoOwner' | translate }}</th>
                      <th>{{ 'todoStatus' | translate }}</th>
                      <th>{{ 'actions' | translate }}</th>
                    </thead>
                    <tbody>
                      <tr ng-show="loadingsponzorshipstasks && !noSponzorshipsTaskMessage">
                        <td colspan="3">
                          <span us-spinner="{radius:15, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span>
                        </td>
                      </tr>
                      <tr ng-show="!loadingsponzorshipstasks && noSponzorshipsTaskMessage">
                        <td colspan="3" class="text-center">
                          <h2 class="text-center">{{'noSponzorshipsTaskMessage'| translate}}</h2>
                        </td>
                      </tr>
                      <tr ng-show="!loadingsponzorshipstasks && !noSponzorshipsTaskMessage"data-ng-repeat="t in tasksSponzor" ng-class="{success: t.status === 1, warning: t.status === 0}" ng-show="!loadingtodo">
                        <td>{{ t.title }}</td>
                        <td>{{ t.description }}</td>
                        <td>
                          <div ng-if="t.type == 0">{{ 'Organizer' | translate }}</div>
                          <div ng-if="t.type == 1">{{ 'You' | translate }}</div>
                        </td>
                        <td>
                          <div ng-if="t.status == 0">{{ 'taskNoCompleted' | translate }}</div>
                          <div ng-if="t.status == 1">{{ 'taskCompleted' | translate }}</div>
                        </td>
                        <td>
                          <span class="text-success">
                            <a href="" ng-if="t.status == 0 && t.type==1" ng-click="completeTask(t.id)">
                              <i class="fa fa-check"></i></a>
                            <a href="" ng-if="t.status == 1 && t.type==1" ng-click="uncompleteTask(t.id)">
                              <i class="fa fa-times"></i></a>
                            <a href="" ng-if="t.type==1" ng-click="deleteTaskSponzor(t.id)">
                              <i class="fa fa-trash-o"></i></a>
                            <span ng-if="t.type==0 && t.status==0">{{ 'waitUnitlOrganizerComplete' | translate }}</span>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div></div>
<script type="text/ng-template" id="sponzorshipCause">
  <div class="text-center">
    <h3>{{'causeWhy'|translate}}</h3>

    <pre>{{cause}}</pre>
  </div>
  <div class="ngdialog-buttons text-center">
    <button class="btn btn-danger" ng-click="closeThisDialog()"><i class="fa fa-times"></i> {{'Close' | translate}}</button>
  </div>
</script>
