<div layout-fill class="allContainer">

  <!-- navbar 1 -->
  <div ng-include src="'./components/navbar/navbar.html'"></div>

  <md-content class="superContainer" layout="row">

    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./components/sidenav/sidenavOrg.html'" ng-controller="SidenavController"></div>

    <div class="cont" flex>

      <!-- navbar -->
      <!-- show-gt-xs don't work ¿? -->
      <div class="menuItems menuItemsOrganizer md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        
        <settings-nav active="preferences"></settings-nav>
        <organizers-navbar></organizers-navbar>
      </div>
      <responsive-nav></responsive-nav>


      <!-- Content starts -->

      <div class="createContainer settings settingsOrganizers" layout="column" flex>
        
        <div class="chipContainer">
          <span translate>settings.interests</span>
          <div class="chipSelect" layout="row" layout-wrap layout-align="start center">
            <span class="md-chip inset toSelect" md-ink-ripple layout="row" layout-align="center center" ng-repeat="item in opc.user.interests" layout-wrap>
              {{item.interest.name}} <a href=""
              ng-click="opc.removeInterest(item)"><md-icon aria-label="a">cancel</md-icon></a>
            </span>
          </div>
          <md-divider></md-divider>
          <form name="chipForm" ng-submit="$event.preventDefault()">
            <md-autocomplete
            md-search-text-change="searchTextChange(search)"
            md-search-text="search"
            md-items="i in opc.querySearch(search)" md-item-text="i.name"
            md-selected-item="opc.newItem"
            md-min-length="0"
            placeholder="{{'settings.chooseInterest'|translate}}">
              <md-item-template>
                <span md-highlight-text="search" md-highlight-flags="^i">{{i.name}}</span>
              </md-item-template>
            </md-autocomplete>
            <md-button form="chipForm" ng-click="opc.addUserInterests(opc.newItem)" class="color-blue-brighter ">{{'preferences.save'|translate}}</md-button>
          </form>
        </div>
      </div>
    </div>
  </md-content>
  <div ng-include src="'./components/footer/footer.html'"></div>
</div>
