<div layout-fill class="allContainer">
    <div ng-include src="'./components/navbar/navbar.html'"></div>
        <md-content class="superContainer" layout="row"> 
          <div class="cont" flex>
            <div class="aboutContainer" class="md-whiteframe-24dp" layout="column">
                <div class="backButton">
                    <a href="#/">
                        <md-icon>reply</md-icon>
                    </a>
                </div>
                <div class="texts">
                    <h1 class="color-blue-brighter" translate>_Acerca de Sponzorme y su equipo_</h1>
                    <div>    
                        <p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iure architecto fuga voluptatibus voluptatum, velit voluptatem placeat obcaecati illo sequi labore autem blanditiis facilis necessitatibus sint excepturi dignissimos. Tempore, debitis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos laudantium iste necessitatibus, aliquam, labore optio vero unde est a sint vitae corporis quisquam atque sequi magni laboriosam repellendus ea laborum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem similique amet, quas nobis. Ducimus quam possimus, labore minus molestias harum tenetur aut vero nam illo, quod, consectetur quas? Enim, fuga.</p>
                        <p translate>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, repellendus esse non ducimus quidem incidunt qui. Nesciunt adipisci quas delectus et cumque corrupti temporibus nemo, architecto aperiam reiciendis accusamus id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde corrupti totam necessitatibus explicabo ab labore eaque doloremque quae laboriosam adipisci ullam impedit provident, itaque voluptas excepturi debitis maxime assumenda velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa natus, neque laboriosam enim quae voluptas minima vitae aut distinctio. Aliquam sed nisi est deserunt porro ab pariatur accusantium assumenda alias!</p>
                    </div>
                </div>
                <div class="sponzormeTeam" layout="row" layout-align="space-around center" layout-wrap>
                    <md-list flex-gt-xs="33">
                        <md-list-item class="md-3-line">
                            <img src="../images/pic.png" alt="">
                            <div class="md-list-item-text">
                                <h3>Mike Cunningham</h3>
                                <p>Diseño</p>
                                <h4 class="color-blue-brighter">@mickesilva</h4>
                            </div>
                        </md-list-item>
                    </md-list>

                    <md-list flex-gt-xs="33">
                        <md-list-item class="md-3-line">
                            <img src="../images/pic.png" alt="">
                            <div class="md-list-item-text">
                                <h3>Mike Cunningham</h3>
                                <p>Diseño</p>
                                <h4 class="color-blue-brighter">@mickesilva</h4>
                            </div>
                        </md-list-item>
                    </md-list>

                    <md-list flex-gt-xs="33">
                        <md-list-item class="md-3-line">
                            <img src="../images/pic.png" alt="">
                            <div class="md-list-item-text">
                                <h3>Mike Cunningham</h3>
                                <p>Diseño</p>
                                <h4 class="color-blue-brighter">@mickesilva</h4>
                            </div>
                        </md-list-item>
                    </md-list>

                    <md-list flex-gt-xs="33">
                        <md-list-item class="md-3-line">
                            <img src="../images/pic.png" alt="">
                            <div class="md-list-item-text">
                                <h3>Mike Cunningham</h3>
                                <p>Diseño</p>
                                <h4 class="color-blue-brighter">@mickesilva</h4>
                            </div>
                        </md-list-item>
                    </md-list>

                    <md-list flex-gt-xs="33">
                        <md-list-item class="md-3-line">
                            <img src="../images/pic.png" alt="">
                            <div class="md-list-item-text">
                                <h3>Mike Cunningham</h3>
                                <p>Diseño</p>
                                <h4 class="color-blue-brighter">@mickesilva</h4>
                            </div>
                        </md-list-item>
                    </md-list>

                    <md-list flex-gt-xs="33">
                        <md-list-item class="md-3-line">
                            <img src="../images/pic.png" alt="">
                            <div class="md-list-item-text">
                                <h3>Mike Cunningham</h3>
                                <p>Diseño</p>
                                <h4 class="color-blue-brighter">@mickesilva</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
          </div>
        </md-content>
    </div>
    <div ng-include src="'./components/footer/footer.html'"></div>
</div>