<section>
<div class="navbar navbar-inverse navbar-fixed-top" ng-include src="'views/header.html'"></div>
<div class="container">
  <div class="activation">
    <div ng-show="successActivation" class="row bg-success">
      <h1>{{'activationSuccess' | translate}}</h1>
      <p>{{'activationSuccessMessage' | translate}}</p>
    </div>
    <div ng-show="errorActivation" class="row bg-danger">
      <h1>{{'activationError' | translate}}</h1>
      <p>{{'activationErrorMessage' | translate}}<a href="#/send_activation">Resend activation page</a></p>
    </div>
  </div>
</div>
<div class="footer" ng-include src="'views/footer.html'"></div>
</section>
