<div id="page-wrapper" class="active">
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="">
        <br>
        <div class="img-div col-centered" style="background-color: #FFF;">
          <img src="images/users/{{event.organizer[0].image}}" width="300px" height="300px" />
        </div>
      </li>
      <li>
        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:#fff;">{{event.organizer[0].name}}</span>
      </li>
      <li>
        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:#fff;">{{'comunity_size'|translate}}: {{event.organizer[0].comunity_size}}</span>
      </li>
      <li>
        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:#fff;">{{'next_event'|translate}} :
          <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.organizer[0].comunity_size}}
        </span>
      </li>
      <li>
        <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:#fff;">
          <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="mailto:{{event.organizer[0].email}}" style="margin-left:38px;">{{'contact_organizer'|translate}}</a></span>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a id="blogUrl" href="http://blogen.sponzor.me/">Blog</a>
      </div>
      <div class="col-xs-4">
        <a href="http://staging.sponzor.me/testimonials" target="_blank">
            About          </a>
      </div>
      <div class="col-xs-4">
        <a target="_blank" href="http://support.sponzor.me/">
            Support</a>
      </div>
    </div>
  </div>


  <div id="content-wrapper">
    <div id="page-content">
      <div class="page-content">
        <section>
          <div class="events-slider">
            <div class="slide">
              <div class="slide-bg" style="background-image: url('images/bg.jpg');"></div>
              <div class="col-lg-12">
                <div class="logo pull-right">
                  <span class="slide-logo-wrapper" itemprop="image">
                    <img src="images/events/{{event.event.image}}" width="300px" height="300px" />
                  </span>
                </div>
                <div class="col-lg-6 eventcss">
                  <div class="info event-view pull-left" style="padding-left:50px; left: 200px;ç">
                    <span class="type">{{event.category[0].title}}</span>
                    <h1>
                      <strong itemprop="name">{{event.event.title}}</strong>
                    </h1>
                    <div id="tags">
                      <img src="{{ asset('images/tag.png')}}" width="10">{{event.category[0].title}}
                      <img src="images/map.png" width="10"> &nbsp; {{event.event.location}} &nbsp;<br/>
                      <img src="images/calendar.png" width="10"> &nbsp; {{event.event.starts}} {{'to'|translate}} {{event.event.ends}}
                    </div>
                    <div class="socials pull-left">
                      <a href="https://www.facebook.com/sharer/sharer.php?u={{event.event.id}}" target="_blank" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                        <img src="images/social/facebook.png" width="30">
                      </a>&nbsp;
                      <a href="https://twitter.com/home?status={{event.event.id}}">
                        <img src="images/social/twitter.png" width="30">
                      </a> &nbsp;
                      <a href="https://plus.google.com/share?url={{event.event.id}}">
                        <img src="images/social/google+.png" width="30">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row desc">
                <h2>{{'description'|translate}}</h2>
                <p>
                  {{event.event.description}}
                </p>
                <h2>{{'perks'|translate}}</h2>
                <div class="col-sm-6 col-md-4" ng-repeat="p in event.event.perks">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>
                        <strong>{{p.kind}}</strong>
                      </h3>
                      <hr/>
                      <ul class="list-group">
                        <li class="list-group-item">${{p.usd}} USD</li>
                      </ul>
                      <hr/>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="t in event.event.perk_tasks" ng-if="event.event.perks.id == t.perk_id">{{t.name}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        </div>
      </div>
    </div>
  </div>
</div>
