<div layout-fill class="allContainer">
  
 <!-- navbar 1 -->
  <div ng-include src="'./views/components/navbar/navbar.html'"></div>
  
  <md-content class="superContainer" layout="row"> 
    
    <!-- sidenav -->
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./views/components/sidenav/sidenav.html'" ng-controller="SidenavController"></div>
  
    <div class="cont" flex>
    
    <!-- navbar -->      
      <!-- show-gt-xs don't work ¿? -->
      <div class="menuItems md-whiteframe-1dp" layout="row" layout-align="space-between center" hide-xs hide-sm>
        <a href="#/sponzors/dashboard" md-ink-ripple>
          <md-icon aria-label="b">reply</md-icon>
        </a>
        <div class="buttons" layout="row" layout-align="start center">
          <a href="#/sponzors/notifications">
            <md-icon aria-label="b">notifications</md-icon>
          </a>
          <a class="md-icon-button">
            <md-icon aria-label="b">send</md-icon>
          </a>
           <a class="md-icon-button">
            <md-icon aria-label="b">person</md-icon>
          </a>
        </div>
      </div>

         
    
    <!-- Content starts -->    
      
      <div class="contentContainer" flex>     
        <div class="notifyDetailContainer md-whiteframe-1dp" layout="column">
          
          <div class="eventContainer" layout="column">
            <div class="shareButton">
              <md-button class="md-fab">
                <md-icon>share</md-icon>
              </md-button>
            </div>
            <img src="../../images/home-bkg.jpg" alt="image">
            <div class="imageTexts">
              <h3>Un vistazo a IONIC 1.2.X</h3>
              <p>_El equipo de Ionic anuncio hace poco una nueva version de Ionic 1 la cual trae muchas cosas interesantes. Este meetup es sobre explorar esos cambios y como puedo mejorar mis apps._</p>
              <a href="">https://github.com/driftyco/ionic/releases/tag/v1.2.1</a>
            </div>
            
            <div class="textsContainer">
              <h3 class="color-blue-brighter">_Speaker:_</h3>
              <p>Carlos Rojas <span class="color-blue-brighter">@carlosrojas_o</span></p>         
              <p class="description">
                _Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex adipisci ab assumenda consequuntur necessitatibus dolores, minus unde dicta. Id possimus placeat non. Neque consectetur quidem._
              </p>
              <md-divider></md-divider>
              
              <div class="eventInfo" layout="row">
                <div class="item">
                  <p class="color-blue-brighter" translate>Organizer</p>
                  <div layout="row" layout-align="start center">
                    <img src="../../images/pic.png" alt="">
                    <div>
                      <p>Mike Cunningham</p>
                      <div>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon class="color-active">star</md-icon>
                        <md-icon>star_border</md-icon>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <p class="color-blue-brighter" translate>_Fecha_</p>
                  <div layout="row" layout-align="start center">
                    <md-icon>access_time</md-icon>
                    <div>
                      <p>Domingo, Enero 10</p>
                      <p>09:00 PM - 03:00 AM</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <p class="color-blue-brighter" translate>_Lugar_</p>
                  <div layout="row" layout-align="start center">
                    <md-icon>location_on</md-icon>
                    <div>
                      <p>_Por confirmar_</p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="" class="contact" md-ink-ripple layout="row" layout-align="start center" flex="25">
                <md-icon>email</md-icon>
                <p>_Escribir al organizador_</p>
              </a> 
            </div>
          </div>          
          <md-content class="sponsorAnEvent">
            <h4 class="color-blue-brighter" translate>seePerks</h4>
            
            <div href="" class="table" layout-padding flex="grow">
              <div class="tableTitle" layout="row" layout-align="space-around" hide-xs hide-sm>
                <a href="">_venue_</a>
                <a href="">_food_</a>
                <a href="">_registration_</a>
                <a href="">_volunteer_</a>
              </div>
              <div class="tableContent" layout="column" layout-align="center center" layout-gt-xs="row" layout-align-gt-xs="space-around">  
                <div class="columnContainer">
                 <div class="tableTitle" hide-gt-xs>gold</div>
                 <div class="border"></div>
                 <a href="" class="toSponzorWith" layout="column">       
                    <p>_T-Shirt_</p>
                    <p>_Escarapelas_</p>
                    <p>_Volantes_</p>
                    <p>_Logística_</p>
                    <p>_Presencia_</p>
                    <p>_Medios_</p>
                  </a>
                  <p class="tablePrice" layout="row" layout-align="center center"><a href="">12000 usd</a></p>              
                  <div class="tableLikeButton" layout="row" layout-align="center center">
                    <a href=""><md-icon>thumb_up</md-icon></a>
                  </div>
                </div> 
                <div class="columnContainer">
                 <div class="tableTitle" hide-gt-xs>silver</div>
                 <div class="border"></div>
                 <a href="" class="toSponzorWith" layout="column">       
                    <p>_T-Shirt_</p>
                    <p>_Escarapelas_</p>
                    <p>_Volantes_</p>
                  </a>
                  <p class="tablePrice" layout="row" layout-align="center center"><a href="">12000 usd</a></p>              
                  <div class="tableLikeButton" layout="row" layout-align="center center">
                    <a href=""><md-icon>thumb_up</md-icon></a>
                  </div>
                </div> 
                <div class="columnContainer">
                 <div class="tableTitle" hide-gt-xs>bronze</div> 
                 <div class="border"></div>
                 <a href="" class="toSponzorWith" layout="column">       
                    <p>_T-Shirt_</p>
                    <p>_Escarapelas_</p>
                  </a>
                  <p class="tablePrice" layout="row" layout-align="center center"><a href="">12000 usd</a></p>              
                  <div class="tableLikeButton" layout="row" layout-align="center center">
                    <a href=""><md-icon>thumb_up</md-icon></a>
                  </div>
                </div> 
                <div class="columnContainer">
                 <div class="tableTitle" hide-gt-xs>voluntary</div> 
                 <div class="border"></div>
                 <a href="" class="toSponzorWith" layout="column">       
                    <p>_T-Shirt_</p>
                  </a>
                  <p class="tablePrice" layout="row" layout-align="center center"><a href="">12000 usd</a></p>              
                  <div class="tableLikeButton" layout="row" layout-align="center center">
                    <a href=""><md-icon>thumb_up</md-icon></a>
                  </div>
                </div> 
              </div>            
            </div>                     
          </md-content>
        </div>
      </div>
    </div> 
  </md-content>  
  <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>











