<div class="row">
    <div class="col-md-4 padding-top-10">&nbsp;&nbsp;&nbsp;
        <a class="" href="" ng-click="changeLanguage('es')"><img height="16px" src="images/spanish.png"></a>&nbsp;
        <a class="" href="" ng-click="changeLanguage('en')"><img height="16px" src="images/english.png"></a>&nbsp;
        <a class="" href="" ng-click="changeLanguage('pt')"><img height="16px" src="images/pt.png"></a>
    </div>
    <div class="col-md-4 padding-top-10">
        <a href="#/testimonials">{{ 'testimonialts' | translate }}</a>&nbsp;|&nbsp
        <a href="#/support" target="_blank">{{ 'support' | translate }}</a>&nbsp;|&nbsp
        <a href="http://bloges.sponzor.me/" target="_blank">{{ 'blog' | translate }}</a>
        &nbsp|&nbsp
        <a href="#/privacy" target="_blank">{{ 'privacy' | translate }}</a>
    </div>
    <div class="col-md-4" align="right">
        <a class="" href="https://www.facebook.com/SponzorMe"><img height="32px" src="images/facebok.png"></a>&nbsp;
        <a class="" href="http://j.mp/1ROIb0l"><img height="32px" src="images/gplus.png"></a>&nbsp;
        <a class="" href="https://instagram.com/sponzorme/"><img height="32px" src="images/instagram.png"></a>&nbsp;
        <a class="" href="https://www.pinterest.com/sponzorme/"><img height="32px" src="images/pinterest.png"></a>&nbsp;
        <a class="" href="http://sponzorme.tumblr.com/"><img height="32px" src="images/tumblr.png"></a>&nbsp;
        <a class="" href="https://twitter.com/sponzorme"><img height="32px" src="images/twitter.png"></a>&nbsp;
        <a class="" href="http://www.startupchile.org/"><img height="32px" src="images/startupchile.png"></a>&nbsp;
    </div>
</div>
