<div layout-fill>

  <md-content class="home-container" layout="column">
    
    <div ng-include src="'./views/components/navbar/navbar.html'"></div>

    <md-content  class="home-content" layout="column" layout-align="start center">
      <h1 class="home-header text-center" translate>getting</h1>
      <md-button class="md-raised howWorks md-cornered" >_¿Cómo funciona?_</md-button>
      <md-tabs class="login-tabs">
        <md-tab label="Patrocinador">
          <md-content>              
            <div class="sponzor login-content" layout="column" layout-align="center center" layout-padding>
              <p class="text-center">_Añade valor y visibilidad a tu marca patrocinando, es muy fácil:_</p>
              <figure layout="row">
                <img src="../images/rocket.svg" alt="">
              </figure>
              <div class="logRegButtons" layout="row">
                <md-button class="sponzor" href="#/login">
                  <span translate>titlelogin</span>
                </md-button>
                <md-button class="sponzor" translate href="#/sponzors/create">
                  <span translate>signin</span>
                </md-button>
              </div>
            </div>        
          </md-content>
        </md-tab>

        <md-tab label="Organizador" md-active="true">
          <md-content>              
            <div class="organizer login-content" layout="column" layout-align="center center"  layout-padding>
              <p class="text-center">_Save time and energy reaching brands anywhere in the world is easy:_</p>
              <figure layout="row">
                <img src="../images/organizer.png" alt="">
              </figure>
              <div class="logRegButtons" layout="row">
                <md-button class="organizer" href="#/login">
                  <span translate>titlelogin</span>
                </md-button>
                <md-button class="organizer" href="#/organizers/create">
                  <span translate>signin</span>
                </md-button>
              </div>
            </div>              
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
</div>
<div>
<div class="footerFixed" ng-include src="'./views/components/footer/footer.html'"></div>
</div>

<div class="video-container">
  <video loop muted autoplay poster="../images/home-bkg.jpg" class="the-video">
      <source src="../video/video1.mp4" type="video/mp4">
      <source src="../video/video1.webm" type="video/webm">
  </video>
</div>