<section class="white-background">
  <div class="navbar white-background navbar-fixed-top" ng-include src="'views/header.html'"></div>
    <div class="row">
      <div class="col-12">
        <form class="form-signin white-background margin-top-100">
          <div class="account-wall">
            <img class="profile-img" src="images/photo.png?sz=120" alt="">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="{{'editaccountemail' | translate }}" autofocus required data-ng-model="email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="{{'attributes_password' | translate }}" required data-ng-model="password">
            </div>
            <div ng-show="!loagind">
              <input class="btn btn-block btn-primary" type="submit" value="{{'login' | translate}}" ng-click="sendfrom()">
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a class="btn btn-link" href="#/forgot">{{ 'forgot' | translate }}</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  <div class="footer white-background navbar-fixed-bottom" ng-include src="'views/footer.html'"></div>
</section>
