<section>
<div class="navbar navbar-inverse navbar-fixed-top" ng-include src="'views/header.html'"></div>
<div class="container">
  <div class="testimonials">
      <div class="row">
        <h1>{{'privacyheadprivacy' | translate}}</h1>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="content" align="justify">
                  <section class="icoprivate">
                      <i class="fa fa-lock"></i>
                  </section>
                  <section class="contenprivate">
                      <p>{{ 'head2privacy' | translate }}</p>
                      <p>{{ 'text1' | translate }}</p>
                      <p>{{ 'head3privacy' | translate }}</p>
                      <p>{{ 'text2' | translate }}</p>
                      <p>{{ 'head4privacy' | translate }}</p>
                      <p>{{ 'text3' | translate }}</p>
                      <p>{{ 'head5privacy' | translate }}</p>
                      <p>{{ 'text4' | translate }}</p>
                      <p>{{ 'head6privacy' | translate }}</p>
                      <p>{{ 'text5' | translate }}</p>
                      <p>{{ 'head7privacy' | translate }}</p>
                      <p>{{ 'text6' | translate }}</p>
                      <p>{{ 'head8privacy' | translate }}</p>
                      <p>{{ 'text7' | translate }}</p>
                      <p>{{ 'head9privacy' | translate }}</p>
                      <p>{{ 'head10privacy' | translate }}</p>
                      <p>{{ 'text8' | translate }}</p>
                      <p>{{ 'head11privacy' | translate }}</p>
                      <p>{{ 'text9' | translate }}</p>
                      <p>{{ 'head12privacy' | translate }}</p>
                      <p>{{ 'head13privacy' | translate }}</p>
                      <p>{{ 'text10' | translate }}</p>
                      <p>{{ 'head14privacy' | translate }}</p>
                      <p>{{ 'text11' | translate }}</p>
                      <p>{{ 'head15privacy' | translate }}</p>
                      <p>{{ 'text12' | translate }}</p>
                      <p>{{ 'head16privacy' | translate }}</p>
                      <p>{{ 'text13' | translate }}</p>
                      <p>{{ 'head17privacy' | translate }}</p>
                      <p>{{ 'text14' | translate }}</p>
                      <p>{{ 'head18privacy' | translate }}</p>
                      <p>{{ 'text15' | translate }}</p>
                      <p>{{ 'head19privacy' | translate }}</p>
                      <p>{{ 'text16' | translate }}</p>
                      <p>{{ 'head20privacy' | translate }}</p>
                      <p>{{ 'text17' | translate }}</p>
                      <p>{{ 'head21privacy' | translate }}</p>
                      <p>{{ 'text18' | translate }}</p>
                      <p>{{ 'head22privacy' | translate }}</p>
                      <p>{{ 'text19' | translate }}</p>
                      <p>{{ 'head23privacy' | translate }}</p>
                      <p>{{ 'text20' | translate }}</p>
                      <p>{{ 'head24privacy' | translate }}</p>
                      <p>{{ 'text21' | translate }}</p>
                      <p>{{ 'head25privacy' | translate }}</p>
                      <p>{{ 'text22' | translate }}</p>
                      <p>{{ 'head26privacy' | translate }}</p>
                      <p>{{ 'text23' | translate }}</p>
                      <p>{{ 'head27privacy' | translate }}</p>
                      <p>{{ 'text24' | translate }}</p>
                  </section>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="footer" ng-include src="'views/footer.html'"></div>
</section>
