<div layout-fill class="allContainer">
    <div ng-include src="'./views/components/navbar/navbar.html'"></div>
        <md-content class="superContainer" layout="row"> 
          <div class="cont" flex>
            <div class="privacyContainer" class="md-whiteframe-24dp" layout="column">
                <div class="backButton">
                    <a href="#/">
                        <md-icon>reply</md-icon>
                    </a>
                </div>
                <div class="texts">
                    <h1 class="color-blue-brighter" translate>headprivacy</h1>
                    <div>    
                        <p class="color-blue-brighter text-bold" translate>head2privacy</p>
                        <p translate>text1 </p>
                    </div>
                    <div>
                        <p class="color-blue-brighter text-bold" translate>head3privacy</p>
                        <p translate>text2</p>
                    </div>
                    <div>
                        <p class="color-blue-brighter text-bold" translate>head4privacy</p>
                        <p translate>text3</p>
                    </div>
                </div>
            </div>
          </div>
        </md-content>
    </div>
    <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>