<div layout-fill class="allContainer">
    <div ng-include src="'./views/components/navbar/navbar.html'"></div>
        <md-content class="superContainer" layout="row"> 
          <div class="cont" flex>
            <div class="supportContainer" class="md-whiteframe-24dp" layout="column">
                <div class="backButton">
                    <a href="#/">
                        <md-icon>reply</md-icon>
                    </a>
                </div>
                <div class="texts">
                    <h1 class="color-blue-brighter" translate>support</h1>
                    <p class="color-blue-brighter text-bold" translate>_SponzorMe te ayuda en lo que necesites_</p>
                    <p translate>_Si por algún motivo tienes alguna inquietud, inconveniente o sugerencia para mejorar SponzorMe, no dudes en contactarnos para atender tu solicitud. Nuestro equipo de soporte te atendera en:_ </p>
                    <div class="contact">
                        <p><span translate>phone1</span> <span>+56 9 41774693</span></p>
                        <p><span translate>phone2</span> <span>+57 316 291 4133</span></p>
                        <p><span>address</span>: <span>Avda. Providencia #229 Santiago - Chile</span></p>
                        <p><span translate>email</span>: <span>support@sponzor.me</span></p>
                    </div>
                </div>
            </div>
          </div>
        </md-content>
    </div>
    <div ng-include src="'./views/components/footer/footer.html'"></div>
</div>