<section>
<div class="navbar navbar-inverse navbar-fixed-top" ng-include src="'views/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="content" align="left">

            <form class="form-signin">
                  <h2 align="center">{{'Support'| translate}}</h2><br/><br/>
                  {{'phone1 '| translate}} : +56 9 41774693<br/><br/>
                  {{'phone2 '| translate}} : +57 3162914133<br/><br/>
                  {{'address '| translate}} : Avda. Providencia #229 Santiago - Chile<br/><br/>
                  {{'email '| translate}} : support@sponzor.me<br/><br/>
      </form>
    </div>
    </div>
  </div>
</div>
<div class="footer" ng-include src="'views/footer.html'"></div>
</section>
