<section>
<div class="navbar navbar-inverse navbar-fixed-top" ng-include src="'views/header.html'"></div>
<div class="container">
  <div class="testimonials">
      <div class="row">
        <h1>{{ 'testimonialts' | translate }}</h1>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="content" align="center">
                  <div class="img-div img-responsive">
                    <img src="images/testimonials/wladimir.png" alt="Usuario" width="200px">
                  </div><br/>
                    <p>"{{ 'testimonial1' | translate }}"</p><br/>
                    <footer class="title">Wladimir Avila - <a href="http://www.meetup.com/PHPColMeetup/" target="_blank">PHP Colombia</a></footer><br/>
                    <cite class="twitter">@wladimiravila</cite>
              </div>
          </div>
          <div class="col-md-4">
              <div class="content" align="center">
                  <div class="img-div img-responsive">
                      <img src="images/testimonials/dvidsilva.png" alt="Usuario" width="200px">
                  </div><br/>
                    <p>"{{ 'testimonial2' | translate }} "</p><br/>
                    <footer class="title">David Silva - <a href="http://www.meetup.com/GDGBerkeley/" target="_blank">GDG Berkeley</a></footer><br/>
                    <cite class="twitter">@davidSilva</cite>
                  </div>
          </div>
          <div class="col-md-4">
              <div class="content" align="center">
                  <div class="img-div img-responsive">
                    <img src="images/testimonials/jtorres.png" alt="Usuario" width="200px">
                  </div><br/>
                    <p>"{{ 'testimonial3' | translate }} "</p><br/>
                    <footer class="title">John Torres - <a href="http://www.meetup.com/ioscolombia/" target="_blank">IOS Colombia</a></footer><br/>
                    <cite class="twitter">@AlexTorresGamer</cite>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="footer" ng-include src="'views/footer.html'"></div>
</section>
