<div layout-fill class="allContainer">
  <div ng-include src="'./components/navbar/navbar.html'"></div>

  <md-content class="superContainer" layout="row">
    <div class="sidenavSuperContainer md-whiteframe-8dp" ng-include src="'./components/sidenav/sidenav.html'" ng-controller="SidenavController"></div>

    <div class="cont" flex>
      <navbar-notifications active="readed"></navbar-notifications>

      <div class="contentContainer">

        <div class="filter">
          <md-input-container class="md-block md-accent inputContainer md-whiteframe-1dp" md-no-float md-ink-ripple="false">
            <md-icon>search</md-icon>
            <input type="text" placeholder="{{'notifications.searchInNotifications'|translate}}" ng-model="snc.filter" />
          </md-input-container>
        </div>

        <md-divider></md-divider>

        <div layout="column" class="notifyContainer">
          <md-content class="notifyElement " md-ink-ripple="#faaf3a" layout="row" layout-align="start center" ng-repeat="notify in snc.notifications | filter: snc.filter" ng-if="notify.read == true">
            <a href="#/sponzors/notification/{{notify.$id}}" layout="row" layout-align="start center" flex="grow">
              <md-button class="md-icon-button" aria-label="b">
                <md-icon>notifications</md-icon>
              </md-button>
              <p class="md-body-1">{{notify.text}}</p>
            </a>
            <div class="texts" layout="row" layout-align="end center" flex="30">
              <p class="date md-body-2">{{notify.date|date:'medium'}}</p>
              <a href="#/sponzors/notification/{{notify.$id}}" class="link" md-ink-ripple="#faaf3a" hide-xs hide-sm translate>notifications.see</a>
            </div>
          </md-content>
        </div>
      </div>
    </div>
  </md-content>
  <div ng-include src="'./components/footer/footer.html'"></div>
</div>